# Project Title

## Overview

   Our company is making the venture into the airline industry. We have been tasked with determining which aircraft our company should purchase. In this notebook, we have analyzed a large dataset on aircraft accidents in order to provide three recommendations in that vein.

## Business Understanding

   The airline business notoriously walks a fine line between risk and profit. Each company must answer to two main stakeholders: their shareholders and their passengers. The former demands profit maximization and cost minimization, and the latter deserves safe, speedy flights.
   
   We believe that these two goals work hand-in-hand: by providing customers safe, high-quality aircraft to fly in, we reduce the risk of expensive accidents, increasing our profits.

## Data Understanding

The dataset we will be using can be accessed here: [Aviation Accident Database 1948-2022](https://www.kaggle.com/datasets/khsamaha/aviation-accident-database-synopses). It is publicly available through the [kaggle](https://www.kaggle.com/) database. 

This dataset is provided by the National Transportation Safety Board, an independent government body which enforces aeronautics safety guidelines, investigates incidents, advocates for victims, and more.

The NTSB has compiled this cumulative file containing over 90,000 individual records of different types of aircraft accidents from the years 1948-2022. Each row represents one accident and each column (of which there are 31) represents a detail about said accident. 

Our goal in this project is to discover the airplane types with the lowest fatalities and damage, as these will also minimize the cost of doing business. Thus, this dataset is extremely relevant to our business question.

In this section we will explore the full dataset so that we can later decide which specific data is most relevant to our research.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [7]:
df = pd.read_csv('Final_Data/Aviation_Data.csv', parse_dates=['Event.Date', 'Publication.Date'])
df.head()

/Users/shelleywang/anaconda3/envs/learn-env/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3145: DtypeWarning: Columns (6,7,28) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaT
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,1996-09-19
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.9222,-81.8781,NaN,NaN,...,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,2007-02-26
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,2000-12-09
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,1980-04-16

In [8]:
df.head()

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaT
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,1996-09-19
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.9222,-81.8781,NaN,NaN,...,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,2007-02-26
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,2000-12-09
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,1980-04-16

In [9]:
df.tail()

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
90343,20221227106491,Accident,ERA23LA093,2022-12-26,"Annapolis, MD",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,0.0,1.0,0.0,0.0,NaN,NaN,NaN,2022-12-29
90344,20221227106494,Accident,ERA23LA095,2022-12-26,"Hampton, NH",United States,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaT
90345,20221227106497,Accident,WPR23LA075,2022-12-26,"Payson, AZ",United States,341525N,1112021W,PAN,PAYSON,...,Personal,NaN,0.0,0.0,0.0,1.0,VMC,NaN,NaN,2022-12-27
90346,20221227106498,Accident,WPR23LA076,2022-12-26,"Morgan, UT",United States,NaN,NaN,NaN,NaN,...,Personal,MC CESSNA 210N LLC,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaT
90347,20221230106513,Accident,ERA23LA097,2022-12-29,"Athens, GA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,0.0,1.0,0.0,1.0,NaN,NaN,NaN,2022-12-30

In [10]:
df.shape

(90348, 31)

In [11]:
df.describe(datetime_is_numeric=True)

,Event.Date,Number.of.Engines,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Publication.Date
count,88889,82805.000000,77488.000000,76379.000000,76956.000000,82977.000000,73659
mean,1999-09-17 17:13:39.354475904,1.146585,0.647855,0.279881,0.357061,5.325440,2004-05-01 19:38:20.932676224
min,1948-10-24 00:00:00,0.000000,0.000000,0.000000,0.000000,0.000000,1980-04-16 00:00:00
25%,1989-01-15 00:00:00,1.000000,0.000000,0.000000,0.000000,0.000000,1993-09-14 00:00:00
50%,1998-07-18 00:00:00,1.000000,0.000000,0.000000,0.000000,1.000000,2001-10-07 00:00:00
75%,2009-07-01 00:00:00,1.000000,0.000000,0.000000,0.000000,2.000000,2020-09-25 00:00:00
max,2022-12-29 00:00:00,8.000000,349.000000,161.000000,380.000000,699.000000,2022-12-30 00:00:00
std,NaN,0.446510,5.485960,1.544084,2.235625,27.913634,NaN

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90348 entries, 0 to 90347
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      90348 non-null  object
 2   Accident.Number         88889 non-null  object
 3   Event.Date              88889 non-null  datetime64[ns]
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Latitude                34382 non-null  object
 7   Longitude               34373 non-null  object
 8   Airport.Code            50249 non-null  object
 9   Airport.Name            52790 non-null  object
 10  Injury.Severity         87889 non-null  object
 11  Aircraft.damage         85695 non-null  object
 12  Aircraft.Category       32287 non-null  object
 13  Registration.Number     87572 non-null  object
 14  Make                    88826 non-null  object
 15  Model                   88797 non-null  object
 16  Amateur.Built           88787 non-null  object
 17  Number.of.Engines       82805 non-null  float64
 18  Engine.Type             81812 non-null  object
 19  FAR.Description         32023 non-null  object
 20  Schedule                12582 non-null  object
 21  Purpose.of.flight       82697 non-null  object
 22  Air.carrier             16648 non-null  object
 23  Total.Fatal.Injuries    77488 non-null  float64
 24  Total.Serious.Injuries  76379 non-null  float64
 25  Total.Minor.Injuries    76956 non-null  float64
 26  Total.Uninjured         82977 non-null  float64
 27  Weather.Condition       84397 non-null  object
 28  Broad.phase.of.flight   61724 non-null  object
 29  Report.Status           82508 non-null  object
 30  Publication.Date        73659 non-null  datetime64[ns]
dtypes: datetime64[ns](2), float64(5), object(24)
memory usage: 21.4+ MB

In [13]:
df.isna().sum()

Event.Id                   1459
Investigation.Type            0
Accident.Number            1459
Event.Date                 1459
Location                   1511
Country                    1685
Latitude                  55966
Longitude                 55975
Airport.Code              40099
Airport.Name              37558
Injury.Severity            2459
Aircraft.damage            4653
Aircraft.Category         58061
Registration.Number        2776
Make                       1522
Model                      1551
Amateur.Built              1561
Number.of.Engines          7543
Engine.Type                8536
FAR.Description           58325
Schedule                  77766
Purpose.of.flight          7651
Air.carrier               73700
Total.Fatal.Injuries      12860
Total.Serious.Injuries    13969
Total.Minor.Injuries      13392
Total.Uninjured            7371
Weather.Condition          5951
Broad.phase.of.flight     28624
Report.Status              7840
Publication.Date          16689
dtype: int64

Below, we explore columns that we may want to drop. Taking a value count shows us the unique data points in that column, elucidating what that column is describing.

In [14]:
df['Air.carrier'].value_counts()

Pilot                      258
American Airlines           90
United Airlines             89
Delta Air Lines             53
SOUTHWEST AIRLINES CO       42
                          ...
Pawan Hans Limited           1
Blue Mountain Aviation       1
MCCALL AVIATION INC          1
Skywest Airlines Inc         1
PRO AGRI SPRAYING, Inc.      1
Name: Air.carrier, Length: 13590, dtype: int64

In [15]:
df['Purpose.of.flight'].value_counts()

Personal                     49448
Instructional                10601
Unknown                       6802
Aerial Application            4712
Business                      4018
Positioning                   1646
Other Work Use                1264
Ferry                          812
Aerial Observation             794
Public Aircraft                720
Executive/corporate            553
Flight Test                    405
Skydiving                      182
External Load                  123
Public Aircraft - Federal      105
Banner Tow                     101
Air Race show                   99
Public Aircraft - Local         74
Public Aircraft - State         64
Air Race/show                   59
Glider Tow                      53
Firefighting                    40
Air Drop                        11
ASHO                             6
PUBS                             4
PUBL                             1
Name: Purpose.of.flight, dtype: int64

In [16]:
df['FAR.Description'].value_counts()

091                               18221
Part 91: General Aviation          6486
NUSN                               1584
NUSC                               1013
137                                1010
135                                 746
121                                 679
Part 137: Agricultural              437
UNK                                 371
Part 135: Air Taxi & Commuter       298
PUBU                                253
129                                 246
Part 121: Air Carrier               165
133                                 107
Part 129: Foreign                   100
Non-U.S., Non-Commercial             97
Non-U.S., Commercial                 93
Part 133: Rotorcraft Ext. Load       32
Unknown                              22
Public Use                           19
091K                                 14
ARMF                                  8
125                                   5
Part 125: 20+ Pax,6000+ lbs           5
107                                   4
103                                   2
Public Aircraft                       2
Part 91F: Special Flt Ops.            1
Part 91 Subpart K: Fractional         1
437                                   1
Armed Forces                          1
Name: FAR.Description, dtype: int64

In [17]:
df['Schedule'].value_counts()

NSCH    4474
UNK     4099
SCHD    4009
Name: Schedule, dtype: int64

In [18]:
df['Report.Status'].value_counts()

Probable Cause                                                                                                                                                                                                                              61754
Foreign                                                                                                                                                                                                                                      1999
<br /><br />                                                                                                                                                                                                                                  167
Factual                                                                                                                                                                                                                                       145
The pilot's failure to maintain directional control during the landing roll.                                                                                                                                                                   58
                                                                                                                                                                                                                                            ...
The pilot's improper approach to landing and his failure to perform a go-around, which resulted in a runway overshoot, runway excursion, and collision with vegetation and water.                                                               1
The pilot's failure to maintain clearance from trees while flying over hilly, forested terrain.                                                                                                                                                 1
The pilot's loss of control as result of the gusting wind.                                                                                                                                                                                      1
The student pilot's failure to maintain directional control during the takeoff roll.Contributing to the accident was the student pilot's decision to initiate the takeoff with the airplane positioned near the left edge of the runway.        1
The flight instructors failure to maintain airspeed during an approach with a simulated engine failure, which resulted in an exceedance of the wings critical angle-of-attack and a subsequent aerodynamic stall/spin.\r                      1
Name: Report.Status, Length: 17007, dtype: int64

## Data Preparation

Now that we've explored the full dataset, we will remove data that is unecessary to our search for the best airplanes. In other words, we will shave down the NTSB file and save that new chunk of data for our later analysis.

Explaining columns which might be relevant to other business questions: airport.code, airport.name, FAR Description, schedule, purpose.of.flight, air.carrier, broad.phase.of.flight

### Making a Subset by Dropping Columns and Rows

First we will define our subset as a colleciton of relevant columns from the full NTSB dataset. Below you will see that we have dropped 16 of the original 31 columns. 

We dropped 'Event.Id', 'Accident.Number', and 'Registration.Number" because these are unique identifying number-letter strings whose use as identification is redundant. We have an Index column where each row is numbered. This makes these two columns obsolete.

We dropped 'Investigation Type', 'Report.Status', and 'Publication.Date' because these details are only relevant to the procedural investigation of each accident, not the aircraft qualities.

We dropped 'Latitude', 'Longitude', 'Airport.Code', and 'Airport.Name' because we will be keeping the 'Location' and 'Country' columns as our chosen geographical data. These dropped columns are highly specific and therefore less workable for our purposes. 

The 'FAR.Description', 'Schedule', and 'Purpose.of.flight' columns provide data regarding the type of each trip. FAR description identifies the rulebook under which the pilot flew, Schedule ident
ifies 

Explaining which columns we chose to drop b/c obviously not relevant or redundant: event.id, ivestigation.type, accident.number. latitude, longitude, registration.number, report.status, publication.date

In [19]:
df_subset = df[['Event.Date', 'Location', 'Country', 'Number.of.Engines',
                'Aircraft.damage', 'Aircraft.Category', 'Make', 'Model', 
                'Amateur.Built', 'Engine.Type',
                'Total.Fatal.Injuries', 'Total.Minor.Injuries', 
                'Total.Uninjured', 'Total.Serious.Injuries', 
                'Weather.Condition']]

In [20]:
# Standardizing the formatting of the column names

df_subset = df_subset.rename(columns = lambda x: x.lower())

In [21]:
# Keeping only airplanes

df_subset = df_subset.loc[df_subset['aircraft.category'] == 'Airplane']

In [22]:
# Dropping the 'aircraft.category' column

df_subset = df_subset.drop(columns=['aircraft.category'])

In [23]:
# Keeping only non-amateur built airplanes

df_subset = df_subset.loc[df_subset['amateur.built'] == 'No']

In [24]:
# Dropping the 'amateur.built' column

df_subset = df_subset.drop(columns=['amateur.built'])

In [25]:
# Keeping only the year (first 4 characters) from the 'event.date' column

df_subset = df_subset.rename(columns = lambda x: x.lower())
df_subset['event.date'] = pd.to_datetime(df_subset['event.date']).dt.year

In [26]:
# Keeping only the state abbreviations from 'location' column into a new column

df_subset['state'] = df_subset['location'].str.split(",").str[1]

In [27]:
# Dropping the 'location' column

df_subset = df_subset.drop(columns=['location'])

In [28]:
# Exploring the 'weather.condition' column

df_subset['weather.condition'].value_counts()

VMC    19711
IMC     1363
Unk      215
UNK      149
Name: weather.condition, dtype: int64

In [29]:
# Cleaning typos from weather.condition

replace_dict = {'Unk':'UNK'}
df_subset['weather.condition'] = df_subset['weather.condition'].replace(replace_dict)
df_subset['weather.condition'].value_counts()

VMC    19711
IMC     1363
UNK      364
Name: weather.condition, dtype: int64

In [32]:
# Exploring the 'engine.type' column

df_subset['engine.type'].value_counts()

Reciprocating      17846
Turbo Prop          1332
Turbo Fan            967
Turbo Jet            153
Unknown              135
Geared Turbofan       12
Turbo Shaft           11
Electric               5
Name: engine.type, dtype: int64

In [33]:
# Cleaning typos from engine.type

replace_dict3 = {'UNK':'Unknown'}
df_subset['engine.type'] = df_subset['engine.type'].replace(replace_dict3)
df_subset['engine.type'].value_counts()

Reciprocating      17846
Turbo Prop          1332
Turbo Fan            967
Turbo Jet            153
Unknown              135
Geared Turbofan       12
Turbo Shaft           11
Electric               5
Name: engine.type, dtype: int64

Understanding for our new data set having dropped unecessary info and cleaned redundant values

In [34]:
df_subset.head()

,event.date,country,number.of.engines,aircraft.damage,make,model,engine.type,total.fatal.injuries,total.minor.injuries,total.uninjured,total.serious.injuries,weather.condition,state
5,1979,United States,2.0,Substantial,Mcdonnell Douglas,DC9,Turbo Fan,NaN,1.0,44.0,NaN,VMC,MA
7,1982,United States,1.0,Substantial,Cessna,140,Reciprocating,0.0,0.0,2.0,0.0,VMC,WA
8,1982,United States,2.0,Substantial,Cessna,401B,Reciprocating,0.0,0.0,2.0,0.0,IMC,NJ
12,1982,United States,1.0,Destroyed,Bellanca,17-30A,Reciprocating,0.0,1.0,0.0,0.0,IMC,LA
13,1982,United States,1.0,Destroyed,Cessna,R172K,Reciprocating,1.0,0.0,0.0,0.0,IMC,TX

In [35]:
df_subset.shape

(24417, 13)

In [36]:
df_subset.describe()

,event.date,number.of.engines,total.fatal.injuries,total.minor.injuries,total.uninjured,total.serious.injuries
count,24417.000000,21866.000000,21651.000000,21855.000000,23699.000000,21571.000000
mean,2009.465332,1.178542,0.692301,0.237795,7.072071,0.304112
std,11.509243,0.428836,6.305217,1.689566,33.701013,2.222186
min,1979.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2008.000000,1.000000,0.000000,0.000000,0.000000,0.000000
50%,2012.000000,1.000000,0.000000,0.000000,1.000000,0.000000
75%,2017.000000,1.000000,0.000000,0.000000,2.000000,0.000000
max,2022.000000,8.000000,295.000000,200.000000,588.000000,161.000000

In [37]:
df_subset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24417 entries, 5 to 90345
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   event.date              24417 non-null  int64
 1   country                 24410 non-null  object
 2   number.of.engines       21866 non-null  float64
 3   aircraft.damage         23147 non-null  object
 4   make                    24414 non-null  object
 5   model                   24399 non-null  object
 6   engine.type             20461 non-null  object
 7   total.fatal.injuries    21651 non-null  float64
 8   total.minor.injuries    21855 non-null  float64
 9   total.uninjured         23699 non-null  float64
 10  total.serious.injuries  21571 non-null  float64
 11  weather.condition       21438 non-null  object
 12  state                   24393 non-null  object
dtypes: float64(5), int64(1), object(7)
memory usage: 2.6+ MB

### Cleaning Null Values

In [38]:
df_subset.isna().sum()

event.date                   0
country                      7
number.of.engines         2551
aircraft.damage           1270
make                         3
model                       18
engine.type               3956
total.fatal.injuries      2766
total.minor.injuries      2562
total.uninjured            718
total.serious.injuries    2846
weather.condition         2979
state                       24
dtype: int64

In [39]:
# Dropping rows in columns that have very few nulls

df_subset = df_subset.dropna(subset=['country', 'make', 'model', 'state'])
df_subset.isna().sum()

event.date                   0
country                      0
number.of.engines         2540
aircraft.damage           1263
make                         0
model                        0
engine.type               3942
total.fatal.injuries      2752
total.minor.injuries      2545
total.uninjured            709
total.serious.injuries    2828
weather.condition         2968
state                        0
dtype: int64

In [40]:
# Filling the NaN's in the 4 injuries columns with 0's

df_subset['total.serious.injuries'].fillna(0, inplace=True)
df_subset['total.fatal.injuries'].fillna(0, inplace=True)
df_subset['total.minor.injuries'].fillna(0, inplace=True)
df_subset['total.uninjured'].fillna(0, inplace=True)

df_subset.isna().sum()

event.date                   0
country                      0
number.of.engines         2540
aircraft.damage           1263
make                         0
model                        0
engine.type               3942
total.fatal.injuries         0
total.minor.injuries         0
total.uninjured              0
total.serious.injuries       0
weather.condition         2968
state                        0
dtype: int64

In [41]:
# Replacing nulls in the 'aircraft.damage' column

df_subset['aircraft.damage'].value_counts()
df_subset['aircraft.damage'] = df_subset['aircraft.damage'].fillna('N/A')

In [42]:
# Combining 'Unknown' and 'N/A' values in in the 'aircraft.damage' column

replace_dict1 = {'Unknown':'N/A'}
df_subset['aircraft.damage'] = df_subset['aircraft.damage'].replace(replace_dict1)
df_subset['aircraft.damage'].value_counts()

Substantial    18965
Destroyed       3129
N/A             1360
Minor            920
Name: aircraft.damage, dtype: int64

In [43]:
df_subset.isna().sum()

event.date                   0
country                      0
number.of.engines         2540
aircraft.damage              0
make                         0
model                        0
engine.type               3942
total.fatal.injuries         0
total.minor.injuries         0
total.uninjured              0
total.serious.injuries       0
weather.condition         2968
state                        0
dtype: int64

In [44]:
# Replacing nulls in the 'engine.type' column

df_subset['engine.type'].value_counts()
df_subset['engine.type'] = df_subset['engine.type'].fillna('Unknown')

In [45]:
# Combining 'Unknown' and 'N/A' values in in the 'engine.type' column

replace_dict2 = {'Unknown':'N/A'}
df_subset['engine.type'] = df_subset['engine.type'].replace(replace_dict2)
df_subset['engine.type'].value_counts()

Reciprocating      17832
N/A                 4070
Turbo Prop          1330
Turbo Fan            961
Turbo Jet            153
Geared Turbofan       12
Turbo Shaft           11
Electric               5
Name: engine.type, dtype: int64

In [46]:
df_subset.isna().sum()

event.date                   0
country                      0
number.of.engines         2540
aircraft.damage              0
make                         0
model                        0
engine.type                  0
total.fatal.injuries         0
total.minor.injuries         0
total.uninjured              0
total.serious.injuries       0
weather.condition         2968
state                        0
dtype: int64

In [47]:
# Replacing nulls in the 'weather.condition' column

df_subset['weather.condition'].value_counts()
df_subset['weather.condition'] = df_subset['weather.condition'].fillna('N/A')

In [48]:
df_subset.isna().sum()

event.date                   0
country                      0
number.of.engines         2540
aircraft.damage              0
make                         0
model                        0
engine.type                  0
total.fatal.injuries         0
total.minor.injuries         0
total.uninjured              0
total.serious.injuries       0
weather.condition            0
state                        0
dtype: int64

Now, to deal with nulls in the 'number.of.engines' column, we will search for an appropriate measure of central tendency. We cannot fill the nulls with 0's, as this doesn't make conceptual sense: there are no planes with no engines.

In [49]:
# Checking the distribution of the 'number.of.engines' column

df_subset['number.of.engines'].value_counts()

1.0    18200
2.0     3466
4.0      101
3.0       56
0.0        9
6.0        1
8.0        1
Name: number.of.engines, dtype: int64

In [50]:
number.engines.hist, ax = plt.subplots
ax.hist(df_subset['number.of.engines'], bins = 7)
ax.set_xlabel('number.of.engines')
ax.set_ylabel('count')
ax.set_title('Distribution of number.of.engines')

TypeError: cannot unpack non-iterable function object

In [51]:
# Replacing nulls in the 'number.of.engines' column

df_subset['number.of.engines'].median()
df_subset['number.of.engines'] = df_subset['number.of.engines'].fillna(df_subset['number.of.engines'].median())

### Consolidating the serious injuries and minor injuries columns

why we do this

In [52]:
df_subset['total.nonfatal.injuries'] = df_subset['total.minor.injuries'] + df_subset['total.serious.injuries']

In [53]:
df_subset = df_subset.drop(columns=['total.serious.injuries', 'total.minor.injuries'])

### Typecasting: Changing float columns into integer columns

Why we do this

In [54]:
df_subset.dtypes

event.date                   int64
country                     object
number.of.engines          float64
aircraft.damage             object
make                        object
model                       object
engine.type                 object
total.fatal.injuries       float64
total.uninjured            float64
weather.condition           object
state                       object
total.nonfatal.injuries    float64
dtype: object

In [55]:
df_subset['number.of.engines'] = df_subset['number.of.engines'].astype(int)

In [58]:
df_subset['total.nonfatal.injuries'] = df_subset['total.nonfatal.injuries'].astype(int)
df_subset['total.fatal.injuries'] = df_subset['total.fatal.injuries'].astype(int)
df_subset['total.uninjured'] = df_subset['total.uninjured'].astype(int)

In [59]:
df_subset.dtypes

event.date                  int64
country                    object
number.of.engines           int64
aircraft.damage            object
make                       object
model                      object
engine.type                object
total.fatal.injuries        int64
total.uninjured             int64
weather.condition          object
state                      object
total.nonfatal.injuries     int64
dtype: object

### Calculating/creating new injuries percentage columns

In [60]:
# Turning injury columns into percentage of total passengers
df_subset['fatal.injuries.perc'] = round(((df_subset['total.fatal.injuries'] / (df_subset['total.fatal.injuries'] + 
                                                                             df_subset['total.nonfatal.injuries'] + 
                                                                             df_subset['total.uninjured'])) * 100), 1)
df_subset['nonfatal.injuries.perc'] = round(((df_subset['total.nonfatal.injuries'] / (df_subset['total.fatal.injuries'] + 
                                                                             df_subset['total.nonfatal.injuries'] + 
                                                                             df_subset['total.uninjured'])) * 100), 1)
df_subset['uninjured.perc'] = round(((df_subset['total.uninjured'] / (df_subset['total.fatal.injuries'] + 
                                                                             df_subset['total.nonfatal.injuries'] + 
                                                                             df_subset['total.uninjured'])) * 100), 1)

In [61]:
# Cleaning resulting nulls

df_subset.isna().sum()

df_subset['fatal.injuries.perc'].fillna(0, inplace=True)
df_subset['nonfatal.injuries.perc'].fillna(0, inplace=True)
df_subset['uninjured.perc'].fillna(0, inplace=True)

In [62]:
df_subset.isna().sum()

event.date                 0
country                    0
number.of.engines          0
aircraft.damage            0
make                       0
model                      0
engine.type                0
total.fatal.injuries       0
total.uninjured            0
weather.condition          0
state                      0
total.nonfatal.injuries    0
fatal.injuries.perc        0
nonfatal.injuries.perc     0
uninjured.perc             0
dtype: int64

In [64]:
# Checking data type of the new calculated columns

df_subset.dtypes

event.date                  int64
country                    object
number.of.engines           int64
aircraft.damage            object
make                       object
model                      object
engine.type                object
total.fatal.injuries        int64
total.uninjured             int64
weather.condition          object
state                      object
total.nonfatal.injuries     int64
fatal.injuries.perc         int64
nonfatal.injuries.perc      int64
uninjured.perc              int64
dtype: object

In [63]:
# Turning the new injuries percentage columns into integers

df_subset['fatal.injuries.perc'] = df_subset['fatal.injuries.perc'].astype(int)
df_subset['nonfatal.injuries.perc'] = df_subset['nonfatal.injuries.perc'].astype(int)
df_subset['uninjured.perc'] = df_subset['uninjured.perc'].astype(int)

df_subset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24374 entries, 5 to 90345
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   event.date               24374 non-null  int64
 1   country                  24374 non-null  object
 2   number.of.engines        24374 non-null  int64
 3   aircraft.damage          24374 non-null  object
 4   make                     24374 non-null  object
 5   model                    24374 non-null  object
 6   engine.type              24374 non-null  object
 7   total.fatal.injuries     24374 non-null  int64
 8   total.uninjured          24374 non-null  int64
 9   weather.condition        24374 non-null  object
 10  state                    24374 non-null  object
 11  total.nonfatal.injuries  24374 non-null  int64
 12  fatal.injuries.perc      24374 non-null  int64
 13  nonfatal.injuries.perc   24374 non-null  int64
 14  uninjured.perc           24374 non-null  int64
dtypes: int64(8), object(7)
memory usage: 3.0+ MB

### Translating the aircraft damage column into a numerical scale

why we do this

In [65]:
df_subset['aircraft.damage'].value_counts()

Substantial    18965
Destroyed       3129
N/A             1360
Minor            920
Name: aircraft.damage, dtype: int64

In [66]:
def aircraft_damage_numbers(y):
    if y == "Substantial":
        return 3
    elif y == "Destroyed":
        return 2
    elif y == "Minor":
        return 1
    else:
        return 0

In [67]:
df_subset['aircraft.damage.scale'] = df_subset['aircraft.damage'].map(aircraft_damage_numbers)
df_subset['aircraft.damage.scale'].value_counts()

3    18965
2     3129
0     1360
1      920
Name: aircraft.damage.scale, dtype: int64

### Cleaning the 'make' column

In [68]:
df_subset['make'].head()

5     Mcdonnell Douglas
7                Cessna
8                Cessna
12             Bellanca
13               Cessna
Name: make, dtype: object

In [69]:
# Standardizing the capitalization of every value

df_subset['make'] = df_subset['make'].astype(str).str.lower()
pd.set_option('display.max_rows', None)
df_subset['make'].value_counts().head(50)

cessna                            8431
piper                             4695
beech                             1683
boeing                            1304
mooney                             416
bellanca                           281
grumman                            249
airbus                             243
maule                              232
aeronca                            227
air tractor                        224
cirrus design corp                 220
air tractor inc                    219
champion                           169
luscombe                           163
embraer                            153
stinson                            145
cirrus                             137
north american                     118
mcdonnell douglas                  112
taylorcraft                        110
aero commander                     106
dehavilland                         95
de havilland                        87
aviat aircraft inc                  76
socata                              75
diamond aircraft ind inc            74
aviat                               70
ercoupe                             66
bombardier inc                      65
raytheon aircraft company           62
rockwell international              61
grumman acft eng cor-schweizer      58
rockwell                            57
ayres                               56
american champion aircraft          52
douglas                             52
bombardier                          50
swearingen                          50
diamond                             49
flight design gmbh                  49
grumman american avn. corp.         49
learjet                             46
waco                                44
airbus industrie                    42
ayres corporation                   41
fairchild                           39
grumman american                    37
lake                                36
mooney aircraft corp.               34
Name: make, dtype: int64

In [70]:
# Defining a function to fix the typos in the most common makes

def typos(x):
    if "air tractor" in x:
        return "air tractor"
    elif "cessna" in x:
        return "cessna"
    elif "piper" in x:
        return "piper"
    elif "beech" in x:
        return "beech"
    elif "boeing" in x:
        return "boeing"
    elif "mooney" in x:
        return "mooney"
    elif "grumman" in x:
        return "grumman"
    elif "airbus" in x:
        return "airbus"
    elif "aeronca" in x:
        return "aeronca"
    elif "cirrus" in x:
        return "cirrus"
    elif "champion" in x:
        return "american champion"
    elif "embraer" in x:
        return "embraer"
    elif "havilland" in x:
        return "dehavilland"
    elif "aviat" in x:
        return "aviat"
    elif "diamond" in x:
        return "diamond"
    elif "ercoupe" in x:
        return "ercoupe"
    else:
        return x

In [71]:
df_subset['make'] = df_subset['make'].map(typos)

### Defining and saving our cleaned subset

We are dropping columns used for calculations of percentages and aircraft damage scale

In [72]:
df_subset = df_subset[['event.date', 'country', 'state', 'number.of.engines',
                'make', 'model', 'engine.type',  
                 'fatal.injuries.perc', 'nonfatal.injuries.perc', 'uninjured.perc', 
                'weather.condition', 'aircraft.damage.scale']]

In [73]:
df_subset.head()

,event.date,country,state,number.of.engines,make,model,engine.type,fatal.injuries.perc,nonfatal.injuries.perc,uninjured.perc,weather.condition,aircraft.damage.scale
5,1979,United States,MA,2,mcdonnell douglas,DC9,Turbo Fan,0,2,97,VMC,3
7,1982,United States,WA,1,cessna,140,Reciprocating,0,0,100,VMC,3
8,1982,United States,NJ,2,cessna,401B,Reciprocating,0,0,100,IMC,3
12,1982,United States,LA,1,bellanca,17-30A,Reciprocating,0,100,0,IMC,2
13,1982,United States,TX,1,cessna,R172K,Reciprocating,100,0,0,IMC,2

In [74]:
df_subset.shape

(24374, 12)

In [75]:
df_subset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24374 entries, 5 to 90345
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   event.date              24374 non-null  int64
 1   country                 24374 non-null  object
 2   state                   24374 non-null  object
 3   number.of.engines       24374 non-null  int64
 4   make                    24374 non-null  object
 5   model                   24374 non-null  object
 6   engine.type             24374 non-null  object
 7   fatal.injuries.perc     24374 non-null  int64
 8   nonfatal.injuries.perc  24374 non-null  int64
 9   uninjured.perc          24374 non-null  int64
 10  weather.condition       24374 non-null  object
 11  aircraft.damage.scale   24374 non-null  int64
dtypes: int64(6), object(6)
memory usage: 2.4+ MB

In [76]:
df_subset.describe()

,event.date,number.of.engines,fatal.injuries.perc,nonfatal.injuries.perc,uninjured.perc,aircraft.damage.scale
count,24374.000000,24374.000000,24374.000000,24374.000000,24374.000000,24374.000000
mean,2009.485230,1.159350,16.399852,19.074957,60.801100,2.628744
std,11.499791,0.408294,36.034714,37.207320,47.748262,0.802325
min,1979.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2008.000000,1.000000,0.000000,0.000000,0.000000,3.000000
50%,2012.000000,1.000000,0.000000,0.000000,100.000000,3.000000
75%,2017.000000,1.000000,0.000000,0.000000,100.000000,3.000000
max,2022.000000,8.000000,100.000000,100.000000,100.000000,3.000000

In [77]:
df_subset.to_csv('Final_Data/subset.csv')

why we aren't re-indexing the subset

### Defining a second subset that only contains plane makes (brands) with over 100 entries

In [78]:
make_value_counts = df_subset['make'].value_counts()

In [79]:
make_over_100 = make_value_counts.loc[make_value_counts > 100]

In [80]:
make_over_100 = list(make_over_100.index)

In [81]:
make_over_100

['cessna',
 'piper',
 'beech',
 'boeing',
 'mooney',
 'air tractor',
 'grumman',
 'cirrus',
 'airbus',
 'bellanca',
 'aviat',
 'american champion',
 'maule',
 'aeronca',
 'dehavilland',
 'embraer',
 'luscombe',
 'diamond',
 'stinson',
 'north american',
 'mcdonnell douglas',
 'taylorcraft',
 'aero commander']

In [82]:
df_subset_makes = df_subset.loc[df_subset['make'].isin(make_over_100)]
df_subset_makes.head()

,event.date,country,state,number.of.engines,make,model,engine.type,fatal.injuries.perc,nonfatal.injuries.perc,uninjured.perc,weather.condition,aircraft.damage.scale
5,1979,United States,MA,2,mcdonnell douglas,DC9,Turbo Fan,0,2,97,VMC,3
7,1982,United States,WA,1,cessna,140,Reciprocating,0,0,100,VMC,3
8,1982,United States,NJ,2,cessna,401B,Reciprocating,0,0,100,IMC,3
12,1982,United States,LA,1,bellanca,17-30A,Reciprocating,0,100,0,IMC,2
13,1982,United States,TX,1,cessna,R172K,Reciprocating,100,0,0,IMC,2

In [83]:
df_subset_makes.to_csv('Final_Data/df_subset_makes.csv')

In [84]:
df_subset_makes.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20879 entries, 5 to 90345
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   event.date              20879 non-null  int64
 1   country                 20879 non-null  object
 2   state                   20879 non-null  object
 3   number.of.engines       20879 non-null  int64
 4   make                    20879 non-null  object
 5   model                   20879 non-null  object
 6   engine.type             20879 non-null  object
 7   fatal.injuries.perc     20879 non-null  int64
 8   nonfatal.injuries.perc  20879 non-null  int64
 9   uninjured.perc          20879 non-null  int64
 10  weather.condition       20879 non-null  object
 11  aircraft.damage.scale   20879 non-null  int64
dtypes: int64(6), object(6)
memory usage: 2.1+ MB

In [85]:
df_subset_makes.describe()

,event.date,number.of.engines,fatal.injuries.perc,nonfatal.injuries.perc,uninjured.perc,aircraft.damage.scale
count,20879.000000,20879.000000,20879.000000,20879.000000,20879.000000,20879.000000
mean,2009.155228,1.150774,16.018727,18.694957,61.537430,2.629436
std,11.748991,0.391705,35.668712,36.835568,47.534727,0.805133
min,1979.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2007.000000,1.000000,0.000000,0.000000,0.000000,3.000000
50%,2012.000000,1.000000,0.000000,0.000000,100.000000,3.000000
75%,2017.000000,1.000000,0.000000,0.000000,100.000000,3.000000
max,2022.000000,4.000000,100.000000,100.000000,100.000000,3.000000

Conclusion: we now have two data subsets. Explain them

# Analysis and Results

the groupby's and the visuals produced in tableau embedded following those cells

In [86]:
df_subset.groupby('event.date').mean()

,number.of.engines,fatal.injuries.perc,nonfatal.injuries.perc,uninjured.perc,aircraft.damage.scale
event.date,,,,,
1979,2.000000,0.000000,2.000000,97.000000,3.000000
1982,1.177883,15.606696,19.960433,64.401082,2.606358
1983,2.200000,11.500000,5.700000,82.600000,1.400000
1984,1.714286,28.571429,0.000000,71.428571,2.428571
1985,1.333333,19.333333,47.166667,33.333333,2.333333
1986,1.375000,49.000000,13.250000,37.500000,1.625000
1987,2.000000,50.000000,0.500000,49.250000,1.750000
1988,1.583333,25.000000,16.833333,57.916667,1.750000
1989,1.000000,47.571429,33.285714,19.000000,2.571429
1990,1.238095,34.190476,19.714286,45.809524,2.428571
1991,1.133333,48.000000,3.333333,42.000000,2.266667
1992,1.666667,37.333333,28.500000,33.500000,2.333333
1993,1.142857,32.714286,22.857143,44.285714,2.285714
1994,1.000000,42.909091,11.636364,45.454545,2.545455
1995,1.416667,22.333333,3.333333,74.000000,2.000000
1996,1.250000,34.250000,8.000000,57.416667,2.083333
1997,1.363636,33.818182,11.242424,42.575758,1.757576
1998,1.051282,10.974359,2.769231,50.256410,1.384615
1999,1.051282,17.564103,5.205128,51.512821,2.051282
2000,1.277778,36.805556,6.666667,45.250000,1.916667
2001,1.147059,49.308824,13.470588,35.647059,2.397059
2002,1.162500,27.487500,18.987500,52.225000,2.537500
2003,1.113208,12.628931,18.987421,67.679245,2.735849
2004,1.085253,3.057604,18.304147,78.619816,2.905530
2005,1.106036,0.489396,16.577488,82.750408,2.907015
2006,1.110048,2.998405,15.055821,81.135566,2.891547
2007,1.140456,9.593037,18.324130,71.696279,2.794718
2008,1.181946,16.323695,18.815938,63.129055,2.698872
2009,1.179321,16.412763,19.522617,62.411147,2.687399
2010,1.246979,16.578550,18.882931,61.107251,2.676737
2011,1.204358,17.725770,20.410218,59.799399,2.728024
2012,1.170047,18.232449,18.666147,59.711388,2.726209
2013,1.169326,18.290780,19.770390,58.351950,2.652482
2014,1.150995,19.235986,21.581374,55.707957,2.635624
2015,1.131190,20.496959,19.901825,55.649001,2.576021
2016,1.133386,17.375691,19.267561,56.613260,2.554065
2017,1.150284,18.788790,18.490658,56.274574,2.522340
2018,1.140337,17.979150,17.876504,57.288693,2.538893
2019,1.154849,19.928280,17.854116,54.267319,2.475958
2020,1.119586,18.261770,18.958569,56.913371,2.593220
2021,1.129597,15.559545,20.342382,57.063923,2.510508
2022,1.128117,16.517627,20.651763,55.582115,2.544282

In [87]:
df_subset.groupby('country').mean()

,event.date,number.of.engines,fatal.injuries.perc,nonfatal.injuries.perc,uninjured.perc,aircraft.damage.scale
country,,,,,,
Afghanistan,2012.500000,1.700000,20.000000,0.900000,38.900000,2.500000
Albania,2019.000000,1.000000,0.000000,0.000000,0.000000,0.000000
American Samoa,2022.000000,1.066667,33.333333,20.000000,20.000000,1.533333
Angola,2005.000000,1.250000,25.000000,0.000000,50.000000,2.250000
Antarctica,2011.200000,1.600000,20.000000,2.200000,57.600000,1.800000
Antigua and Barbuda,2019.000000,1.000000,0.000000,0.000000,0.000000,3.000000
Argentina,2014.913793,1.155172,29.310345,1.913793,49.724138,1.706897
Australia,2014.583893,1.255034,44.785235,4.644295,21.677852,1.523490
Austria,2013.590909,1.181818,51.863636,9.454545,20.454545,2.181818
Bahamas,2012.529412,1.529412,38.235294,12.509804,39.411765,2.254902
Bahrain,2017.500000,1.000000,16.666667,0.000000,66.666667,2.000000
Bangladesh,2015.285714,1.142857,0.000000,16.285714,55.000000,2.000000
Barbados,2014.500000,1.500000,0.000000,0.000000,50.000000,2.000000
Belgium,2014.240000,1.320000,20.000000,0.000000,48.000000,1.440000
Bolivia,2008.142857,1.000000,40.642857,23.500000,35.642857,2.000000
Bosnia and Herzegovina,2010.000000,2.000000,0.000000,0.000000,0.000000,1.000000
Brazil,2015.209205,1.163180,62.380753,10.439331,19.158996,2.209205
Bulgaria,2017.600000,1.000000,20.000000,0.000000,60.000000,1.200000
Cameroon,2015.000000,1.500000,0.000000,0.000000,50.000000,1.500000
Canada,2014.355030,1.189349,54.272189,14.668639,21.485207,2.023669
Cayenne,2014.000000,1.000000,0.000000,100.000000,0.000000,2.000000
Cayman Islands,2014.333333,1.666667,33.333333,2.000000,64.333333,1.000000
Central Africa,2015.083333,1.250000,25.333333,9.000000,23.750000,2.000000
Central African Republic,2022.000000,1.000000,0.000000,0.000000,0.000000,0.000000
Chile,2013.034483,1.206897,58.379310,17.448276,20.689655,2.206897
China,2012.175000,1.450000,19.175000,9.875000,38.225000,1.350000
Colombia,2014.771930,1.271930,40.675439,15.868421,31.043860,1.929825
Costa Rica,2005.833333,1.166667,0.000000,33.333333,66.500000,1.833333
Cote D'ivoire,2000.000000,1.000000,94.000000,5.000000,0.000000,2.000000
Croatia,2018.700000,1.000000,26.600000,3.300000,69.900000,1.300000
Cuba,2010.333333,1.333333,49.833333,0.333333,49.500000,1.666667
Cyprus,2015.000000,1.000000,0.000000,0.000000,100.000000,1.000000
Czech Republic,2017.666667,1.333333,66.666667,0.000000,0.000000,1.833333
Côte d'Ivoire,2022.000000,1.000000,50.000000,50.000000,0.000000,2.000000
Denmark,2014.478261,1.173913,4.347826,8.695652,60.826087,1.304348
Dominican Republic,2010.103448,1.103448,35.620690,27.103448,30.275862,2.379310
Ecuador,2008.333333,1.000000,44.333333,5.500000,50.000000,2.000000
Egypt,2014.833333,1.333333,66.666667,0.000000,33.333333,1.833333
El Salvador,2002.000000,1.000000,50.000000,0.000000,50.000000,2.500000
Estonia,2013.000000,1.000000,50.000000,0.000000,0.000000,3.000000
Eswatini,2015.826087,1.130435,38.195652,7.391304,30.434783,1.630435
Ethiopia,2013.800000,1.000000,34.200000,25.200000,0.400000,1.600000
Fiji,2010.000000,2.000000,0.000000,0.000000,100.000000,3.000000
Finland,2014.153846,1.230769,31.384615,7.000000,30.769231,1.923077
France,2014.090226,1.255639,30.045113,9.804511,37.541353,1.766917
French Polynesia,2022.000000,1.000000,0.000000,0.000000,0.000000,3.000000
Gabon,2000.000000,1.000000,0.000000,0.000000,0.000000,2.000000
Gambia,1997.000000,1.000000,88.000000,11.000000,0.000000,2.000000
Georgia,2022.000000,1.090909,13.636364,22.727273,45.454545,2.454545
Germany,2013.860870,1.226087,42.626087,6.573913,29.878261,1.843478
Ghana,2013.500000,1.000000,0.000000,50.000000,0.000000,3.000000
Great Britain,2022.000000,1.000000,0.000000,0.000000,100.000000,1.500000
Greece,2013.400000,1.200000,40.000000,0.000000,50.000000,2.000000
Greenland,2016.000000,1.000000,50.000000,0.000000,50.000000,2.000000
Guadeloupe,2015.428571,1.142857,28.571429,14.285714,28.571429,2.000000
Guatemala,2013.176471,1.058824,61.058824,15.617647,14.352941,2.235294
Guinea,2017.000000,1.000000,0.000000,0.000000,0.000000,1.000000
Guyana,2013.923077,1.384615,38.461538,7.692308,15.307692,1.615385
Haiti,2017.333333,1.333333,66.666667,0.000000,33.333333,1.666667
Honduras,2011.200000,1.200000,46.800000,20.200000,26.266667,2.466667
Hong Kong,2017.555556,1.444444,11.111111,0.000000,55.555556,0.777778
Hungary,2015.437500,1.375000,6.250000,0.000000,50.000000,1.375000
Iceland,2012.416667,1.416667,24.000000,5.250000,41.458333,1.291667
India,2017.416667,1.333333,9.652778,1.583333,35.930556,1.222222
Indonesia,2014.769231,1.215385,25.815385,3.061538,41.815385,1.707692
Iran,2017.625000,1.000000,25.000000,0.750000,36.750000,1.750000
Iraq,2011.000000,1.000000,100.000000,0.000000,0.000000,2.000000
Ireland,2014.957447,1.340426,12.765957,10.744681,46.659574,1.510638
Isle of Man,2021.000000,2.000000,0.000000,0.000000,100.000000,0.000000
Israel,2018.333333,1.333333,33.333333,0.000000,33.333333,0.666667
Italy,2013.465517,1.189655,42.344828,6.810345,35.258621,1.931034
Jamaica,2013.400000,1.000000,40.000000,20.000000,0.000000,1.600000
Japan,2014.871429,1.514286,9.142857,7.314286,59.014286,0.914286
Jordan,2017.000000,1.500000,0.000000,0.000000,100.000000,2.000000
Kazakhstan,2017.250000,1.250000,37.500000,12.500000,0.000000,1.500000
Kenya,2014.894737,1.000000,48.684211,4.105263,10.315789,1.947368
"Korea, Republic Of",1998.500000,1.000000,0.000000,0.000000,0.000000,3.000000
Kyrgyzstan,2014.500000,1.000000,43.000000,6.750000,25.000000,2.000000
Latvia,2015.714286,1.000000,28.571429,0.000000,28.571429,1.000000
Lebanon,2010.000000,2.000000,100.000000,0.000000,0.000000,2.000000
Libya,2010.000000,1.000000,99.000000,1.000000,0.000000,2.000000
Lithuania,2018.333333,1.000000,100.000000,0.000000,0.000000,1.666667
Luxembourg,2011.500000,2.500000,0.000000,0.000000,100.000000,2.000000
MU,2022.000000,1.000000,0.000000,0.000000,0.000000,0.000000
Macao,2014.833333,1.333333,16.666667,0.000000,16.666667,1.000000
Madagascar,2016.000000,1.000000,0.000000,0.000000,100.000000,0.000000
Malawi,2007.000000,1.000000,100.000000,0.000000,0.000000,2.000000
Malaysia,2012.625000,1.000000,25.000000,32.125000,17.750000,1.625000
Maldives,2015.000000,1.000000,0.000000,0.000000,0.000000,1.000000
Mali,2016.500000,1.000000,0.000000,0.000000,50.000000,1.500000
Malta,2019.000000,1.000000,0.000000,0.000000,33.333333,0.000000
Mauritania,2018.000000,1.000000,100.000000,0.000000,0.000000,2.000000
Mexico,2015.084158,1.202970,47.594059,6.608911,22.495050,1.702970
Micronesia,2013.000000,1.000000,1.000000,15.500000,83.000000,3.000000
Morocco,2017.000000,1.000000,50.000000,0.000000,0.000000,3.000000
Namibia,2013.000000,1.000000,83.333333,0.000000,16.666667,1.666667
Nepal,2014.500000,1.000000,50.000000,0.000000,33.333333,2.166667
Netherlands,2013.666667,1.166667,18.222222,4.416667,52.305556,1.111111
New Caledonia,2017.000000,1.000000,50.000000,0.000000,50.000000,2.500000
New Zealand,2014.900000,1.300000,13.300000,6.600000,20.000000,1.200000
Nicaragua,2006.000000,1.000000,0.000000,0.000000,100.000000,3.000000
Niger,2000.000000,1.000000,0.000000,100.000000,0.000000,2.000000
Nigeria,2016.176471,1.176471,5.882353,6.352941,40.588235,1.294118
Niue,2017.000000,1.500000,50.000000,0.500000,49.000000,1.500000
Norway,2015.000000,1.100000,43.300000,6.600000,30.000000,1.700000
Obyan,2018.000000,1.000000,0.000000,100.000000,0.000000,3.000000
PACIFIC OCEAN,2021.000000,1.000000,0.000000,0.000000,100.000000,3.000000
Pakistan,2016.051282,1.487179,15.333333,0.179487,28.051282,0.948718
Palau,2010.000000,1.000000,0.000000,0.000000,100.000000,3.000000
Panama,2009.200000,1.200000,31.650000,14.200000,34.000000,1.550000
Papua New Guinea,2014.428571,1.142857,58.428571,12.714286,14.285714,2.285714
Paraguay,1997.000000,1.000000,0.000000,0.000000,99.000000,0.000000
Peru,2012.672414,1.362069,17.517241,7.448276,43.948276,1.413793
Philippines,2015.833333,1.125000,34.708333,2.750000,50.000000,1.791667
Poland,2017.250000,1.200000,37.050000,2.900000,25.000000,1.300000
Portugal,2014.590909,1.272727,43.181818,2.318182,40.818182,1.727273
Qatar,2015.000000,1.500000,50.000000,0.000000,50.000000,2.000000
Republic of North Macedonia,2017.500000,1.500000,100.000000,0.000000,0.000000,2.000000
Romania,2017.461538,1.230769,19.230769,3.846154,53.846154,1.384615
Russia,2014.906250,1.218750,34.906250,9.718750,30.281250,1.843750
Rwanda,2021.333333,1.000000,0.000000,0.000000,0.000000,0.000000
Saint Barthelemy,2014.250000,1.416667,36.916667,4.583333,33.333333,1.500000
Saint Pierre and Miquelon,2022.000000,1.000000,20.000000,0.000000,80.000000,1.000000
Saudi Arabia,2012.380952,1.428571,14.285714,9.523810,42.857143,1.428571
Senegal,2015.647059,1.352941,0.000000,0.117647,41.000000,0.941176
Seychelles,2009.000000,1.000000,0.000000,0.000000,0.000000,0.000000
Singapore,2015.000000,2.000000,5.000000,0.000000,94.000000,1.000000
Sint Maarten,2013.750000,1.250000,27.500000,47.500000,0.000000,2.000000
Slovakia,1999.000000,1.000000,0.000000,0.000000,100.000000,3.000000
Slovenia,2015.500000,1.000000,75.000000,0.000000,25.000000,2.250000
Solomon Islands,2014.000000,1.000000,0.000000,0.000000,0.000000,0.000000
Somalia,2018.000000,1.000000,0.000000,0.000000,66.666667,2.333333
South Africa,2017.280000,1.173333,29.773333,7.920000,28.933333,1.786667
South Korea,2014.650000,1.500000,25.000000,1.450000,48.450000,0.950000
South Korean,2022.000000,1.000000,100.000000,0.000000,0.000000,3.000000
South Sudan,2010.800000,1.600000,42.800000,0.000000,37.200000,2.000000
Spain,2015.179487,1.166667,32.384615,12.544872,26.173077,1.692308
Suriname,2016.833333,1.166667,0.000000,0.000000,66.666667,1.000000
Sweden,2015.343750,1.156250,31.250000,9.875000,36.968750,1.781250
Switzerland,2012.714286,1.000000,28.571429,0.000000,57.142857,1.428571
Taiwan,2012.066667,1.666667,18.266667,1.666667,40.000000,1.200000
Tanzania,2010.800000,1.000000,20.000000,20.000000,0.000000,1.800000
Thailand,2013.904762,1.571429,1.190476,3.952381,51.952381,0.904762
Tokelau,2015.000000,1.500000,50.000000,0.000000,50.000000,1.000000
Tunisia,2018.000000,1.000000,0.000000,0.000000,100.000000,0.000000
Turkey,2012.541667,1.208333,28.041667,14.666667,28.041667,1.750000
Turks And Caicos,2016.272727,1.363636,36.363636,0.090909,18.000000,1.272727
Turks and Caicos Islands,2022.000000,1.000000,0.000000,0.000000,100.000000,0.000000
UN,2014.500000,1.750000,12.500000,20.833333,49.916667,1.416667
Uganda,2000.000000,1.000000,63.000000,0.000000,36.000000,3.000000
Ukraine,2018.100000,1.000000,40.000000,6.000000,24.000000,2.000000
United Kingdom,2014.705314,1.260870,18.676329,7.202899,38.826087,1.439614
United States,2008.697087,1.146578,13.591096,20.702013,65.160170,2.771916
Unknown,2010.000000,1.500000,50.000000,0.000000,0.000000,1.000000
Uruguay,2014.500000,1.200000,35.500000,4.400000,40.000000,1.700000
Venezuela,2013.967213,1.295082,45.524590,10.590164,25.770492,1.836066
Vietnam,2013.666667,1.333333,0.000000,0.000000,66.666667,1.000000
Virgin Islands,2018.800000,1.600000,20.000000,0.000000,40.000000,1.800000
Yemen,2014.000000,2.000000,0.000000,0.000000,0.000000,1.000000
Zimbabwe,2019.500000,1.000000,31.250000,25.000000,18.750000,2.250000

In [88]:
df_subset.groupby('state').mean()

,event.date,number.of.engines,fatal.injuries.perc,nonfatal.injuries.perc,uninjured.perc,aircraft.damage.scale
state,,,,,,
,2013.565217,1.456522,20.239130,13.500000,55.282609,2.195652
,2022.000000,1.127907,21.168605,7.761628,36.738372,1.587209
AK,2009.746541,1.075472,7.474843,14.151572,78.215094,2.893711
AL,2007.503311,1.158940,16.801325,21.682119,61.493377,2.788079
ANTARCTICA,2007.000000,2.000000,0.000000,10.000000,90.000000,3.000000
AO,2015.062500,1.312500,59.375000,9.375000,31.125000,2.312500
AR,2007.669333,1.077333,15.269333,24.290667,60.168000,2.802667
ARGENTINA,2002.000000,1.000000,0.000000,1.000000,98.666667,3.000000
AZ,2008.621656,1.132484,11.914650,15.806369,71.363057,2.828025
Abaco,2022.000000,2.000000,0.000000,0.000000,0.000000,3.000000
Afghanistan,2012.500000,1.700000,20.000000,0.900000,38.900000,2.500000
Albania,2019.000000,1.000000,0.000000,0.000000,0.000000,0.000000
Alberta,2016.000000,1.000000,0.000000,0.000000,0.000000,1.000000
Anglesey,2019.000000,1.000000,100.000000,0.000000,0.000000,2.000000
Angola,2005.000000,1.250000,25.000000,0.000000,50.000000,2.250000
Antarctica,2013.333333,1.333333,33.333333,0.333333,32.666667,1.000000
Antigua and Barbuda,2019.000000,1.000000,0.000000,0.000000,0.000000,3.000000
Argentina,2014.311111,1.177778,31.111111,2.400000,48.622222,1.555556
Australia,2014.580882,1.250000,46.375000,4.110294,20.073529,1.558824
Austria,2013.590909,1.181818,51.863636,9.454545,20.454545,2.181818
BAHAMAS,1992.666667,1.333333,0.000000,0.000000,100.000000,3.000000
BANGLADESH,2005.000000,1.000000,0.000000,0.000000,100.000000,3.000000
BC,2002.000000,1.000000,0.000000,0.000000,100.000000,3.000000
BCS,2013.000000,1.000000,100.000000,0.000000,0.000000,2.000000
BOLIVIA,2002.000000,1.000000,0.000000,50.000000,50.000000,3.000000
BRAZIL,2000.750000,1.000000,12.500000,12.500000,75.000000,3.000000
Bahamas,2012.860465,1.534884,43.023256,12.511628,37.441860,2.139535
Bahia,2008.000000,1.000000,100.000000,0.000000,0.000000,2.000000
Bahrain,2015.250000,1.000000,25.000000,0.000000,50.000000,2.250000
Bali,2008.000000,1.000000,0.000000,0.000000,0.000000,1.000000
Bangladesh,2015.000000,1.250000,0.000000,28.500000,46.250000,1.250000
Barbados,2017.000000,2.000000,0.000000,0.000000,100.000000,3.000000
Belgium,2014.375000,1.208333,20.833333,0.000000,50.000000,1.500000
Belium,2011.000000,4.000000,0.000000,0.000000,0.000000,0.000000
Bentwood,2020.000000,1.000000,0.000000,0.000000,100.000000,3.000000
Bolivar,2010.000000,1.000000,100.000000,0.000000,0.000000,2.000000
Bolivia,2001.000000,1.000000,52.714286,32.714286,14.142857,1.714286
Bolivia (Plurinational State of),2015.000000,1.000000,100.000000,0.000000,0.000000,2.000000
Bonaire,2009.000000,2.000000,10.000000,90.000000,0.000000,3.000000
Bosnia and Herzegovina,2010.000000,2.000000,0.000000,0.000000,0.000000,1.000000
Botswana,2012.000000,1.000000,0.000000,0.000000,0.000000,1.000000
Brazil,2014.457895,1.189474,67.136842,9.005263,15.894737,2.110526
British Columbia,2011.000000,1.000000,100.000000,0.000000,0.000000,3.000000
Buckingham,2014.000000,1.000000,100.000000,0.000000,0.000000,3.000000
Buenos Aires,2022.000000,1.000000,100.000000,0.000000,0.000000,2.000000
Bulgaria,2017.600000,1.000000,20.000000,0.000000,60.000000,1.200000
CA,2007.935757,1.143426,17.304781,21.388944,60.330677,2.734064
CANADA,1999.250000,1.000000,41.500000,8.250000,50.000000,3.000000
CHILE,2007.000000,1.000000,0.000000,0.000000,100.000000,3.000000
CHINA,1997.750000,1.000000,0.000000,0.000000,25.000000,3.000000
CO,2009.401244,1.181960,14.079316,20.524106,64.581649,2.744946
COLOMBIA,2001.750000,1.000000,0.000000,8.250000,91.500000,3.000000
COSTA RICA,2003.000000,1.000000,0.000000,50.000000,50.000000,3.000000
CT,2007.943089,1.130081,10.991870,24.756098,64.219512,2.853659
Cajamarca,2016.000000,1.000000,100.000000,0.000000,0.000000,2.000000
Cameroon,2015.000000,1.500000,0.000000,0.000000,50.000000,1.500000
Canada,2013.816794,1.229008,54.564885,12.251908,22.374046,1.847328
Canada),2019.000000,1.000000,50.000000,50.000000,0.000000,2.000000
Carabobo,2011.000000,2.000000,0.000000,0.000000,100.000000,3.000000
Caribbean Sea,2011.000000,1.000000,0.000000,100.000000,0.000000,3.000000
Cayenne,2014.000000,1.000000,0.000000,100.000000,0.000000,2.000000
Cayman Islands,2014.333333,1.666667,33.333333,2.000000,64.333333,1.000000
Central Africa,2015.083333,1.250000,25.333333,9.000000,23.750000,2.000000
Cerro Largo,2019.000000,1.000000,100.000000,0.000000,0.000000,3.000000
Cheshire,2012.000000,1.000000,100.000000,0.000000,0.000000,3.000000
Chiapas,2020.000000,1.500000,0.000000,50.000000,50.000000,1.500000
Chihuahua,2018.333333,1.000000,100.000000,0.000000,0.000000,2.666667
Chile,2012.962963,1.185185,62.703704,18.740741,14.814815,2.259259
China,2013.030303,1.515152,17.181818,11.969697,43.303030,1.181818
Churchinford,2015.000000,1.000000,100.000000,0.000000,0.000000,2.000000
Co. Wexford,2021.000000,1.000000,0.000000,100.000000,0.000000,2.000000
Coahuila,2012.000000,1.000000,100.000000,0.000000,0.000000,2.000000
Colombia,2014.097826,1.293478,46.054348,14.956522,26.880435,1.880435
Columbia,2022.000000,2.000000,0.000000,0.000000,100.000000,3.000000
Costa Rica,1992.500000,1.500000,0.000000,50.000000,49.500000,1.000000
Cote D'ivoire,2000.000000,1.000000,94.000000,5.000000,0.000000,2.000000
Croatia,2016.200000,1.000000,33.200000,6.600000,59.800000,1.200000
Cuba,2008.000000,1.200000,59.800000,0.400000,39.400000,1.400000
Cundinamrca,2021.000000,1.000000,0.000000,0.000000,100.000000,3.000000
Cyprus,2015.000000,1.000000,0.000000,0.000000,100.000000,1.000000
Czech Republic,2017.666667,1.333333,66.666667,0.000000,0.000000,1.833333
DC,1992.166667,2.166667,0.000000,0.166667,99.666667,0.666667
DE,2011.583333,1.208333,16.666667,19.791667,63.541667,2.625000
DENMARK,1997.500000,1.000000,0.000000,0.000000,100.000000,3.000000
DOMINICAN REPUBLIC,2002.666667,1.000000,0.000000,50.000000,50.000000,3.000000
Denmark,2014.250000,1.250000,6.250000,6.250000,62.437500,0.937500
Dgo,2016.000000,1.000000,30.000000,70.000000,0.000000,3.000000
Dominican Republic,2004.714286,1.000000,54.714286,16.857143,28.142857,1.857143
Dorset,2019.000000,1.000000,0.000000,0.000000,100.000000,0.000000
ECUADOR,2000.500000,1.000000,0.000000,0.000000,100.000000,3.000000
EL SALVADOR,2002.000000,1.000000,0.000000,0.000000,100.000000,3.000000
East Sussex,2016.000000,1.000000,100.000000,0.000000,0.000000,0.000000
Eastern Samar,2020.000000,1.000000,0.000000,0.000000,0.000000,0.000000
Ecuador,2005.750000,1.000000,75.000000,0.000000,0.000000,1.750000
Egypt,2013.400000,1.400000,80.000000,0.000000,20.000000,2.000000
El Salvador,2002.000000,1.000000,100.000000,0.000000,0.000000,2.000000
England,2015.000000,1.000000,100.000000,0.000000,0.000000,3.000000
Estonia,2013.000000,1.000000,50.000000,0.000000,0.000000,3.000000
Eswatini,2015.976744,1.139535,35.441860,6.372093,32.558140,1.581395
Ethiopia,2013.800000,1.000000,34.200000,25.200000,0.400000,1.600000
FL,2009.734312,1.201602,13.544726,20.263017,65.489987,2.736983
FRANCE,2000.000000,1.000000,25.000000,0.000000,50.000000,3.000000
Fiji,2010.000000,2.000000,0.000000,0.000000,100.000000,3.000000
Finland,2013.583333,1.250000,34.000000,7.583333,33.333333,1.833333
France,2013.846154,1.256410,31.589744,11.145299,38.401709,1.752137
Fribourg,2012.000000,1.000000,100.000000,0.000000,0.000000,2.000000
GA,2009.337580,1.205414,17.609873,19.527070,62.033439,2.686306
GERMANY,2004.200000,1.000000,44.000000,0.000000,56.000000,3.000000
GM,2018.000000,1.000000,100.000000,0.000000,0.000000,2.000000
GO,2019.000000,1.000000,100.000000,0.000000,0.000000,3.000000
GREECE,1998.000000,1.000000,0.000000,0.000000,100.000000,3.000000
GU,2001.000000,4.000000,44.500000,5.000000,49.500000,2.500000
GUATEMALA,2003.000000,1.000000,0.000000,100.000000,0.000000,3.000000
Gabon,2000.000000,1.000000,0.000000,0.000000,0.000000,2.000000
Gambia,1997.000000,1.000000,88.000000,11.000000,0.000000,2.000000
Gemeinde Saanen,2010.000000,1.000000,100.000000,0.000000,0.000000,2.000000
Germany,2014.238532,1.238532,42.954128,6.935780,28.954128,1.779817
Ghana,2013.500000,1.000000,0.000000,50.000000,0.000000,3.000000
Goa,2016.000000,1.000000,0.000000,6.000000,93.000000,3.000000
Greece,2014.375000,1.250000,37.500000,0.000000,50.000000,1.750000
Greenland,2016.000000,1.000000,50.000000,0.000000,50.000000,2.000000
Guadeloupe,2012.800000,1.200000,40.000000,20.000000,40.000000,2.200000
Guatemala,2012.518519,1.074074,60.222222,10.407407,18.074074,2.148148
Guinea,2017.000000,1.000000,0.000000,0.000000,0.000000,1.000000
Guyana,2013.923077,1.384615,38.461538,7.692308,15.307692,1.615385
Gwynedd,2017.000000,1.000000,100.000000,0.000000,0.000000,2.000000
HI,2010.411111,1.277778,17.566667,25.211111,56.011111,2.500000
HONDURAS,1995.000000,2.000000,0.000000,0.000000,100.000000,3.000000
HONOLULU,1982.000000,2.000000,100.000000,0.000000,0.000000,2.000000
Haiti,2009.000000,2.000000,0.000000,0.000000,100.000000,0.000000
Hampshire,2009.000000,1.000000,100.000000,0.000000,0.000000,2.000000
Harston,2020.000000,1.000000,0.000000,0.000000,100.000000,3.000000
Honduras,2011.000000,1.166667,50.166667,25.250000,16.166667,2.333333
Hong Kong,2017.555556,1.444444,11.111111,0.000000,55.555556,0.777778
Hungary,2013.833333,1.500000,0.000000,0.000000,50.000000,0.916667
IA,2007.018519,1.087963,15.851852,19.648148,64.467593,2.782407
ID,2010.903509,1.063596,8.903509,20.853070,70.230263,2.888158
IL,2007.253061,1.236735,9.555102,16.910204,72.469388,2.636735
IN,2008.634375,1.178125,12.221875,18.753125,68.993750,2.825000
INDIA,1998.000000,1.000000,0.000000,0.000000,0.000000,3.000000
IRELAND,2000.000000,1.000000,0.000000,0.000000,100.000000,3.000000
ITALY,1999.000000,1.000000,0.000000,0.000000,0.000000,3.000000
Iceland,2011.428571,1.380952,27.428571,6.000000,42.666667,1.285714
India,2017.193548,1.387097,11.209677,1.741935,33.774194,1.032258
Indonesia,2014.701754,1.228070,25.438596,1.000000,45.438596,1.631579
Iran (Islamic Republic of),2016.166667,1.000000,33.333333,1.000000,32.333333,2.000000
Iraq,2011.000000,1.000000,100.000000,0.000000,0.000000,2.000000
Irelan,2022.000000,2.000000,0.000000,0.000000,100.000000,1.000000
Ireland,2014.974359,1.358974,15.384615,7.820513,45.974359,1.333333
Ishikawa,2022.000000,2.000000,0.000000,0.000000,99.000000,0.000000
Isle of Man,2021.000000,2.000000,0.000000,0.000000,100.000000,0.000000
Isle of Wight,2018.000000,1.000000,0.000000,100.000000,0.000000,3.000000
Israel,2018.333333,1.333333,33.333333,0.000000,33.333333,0.666667
Italy,2013.235294,1.196078,43.745098,6.254902,34.254902,1.901961
Jalisco,2016.000000,1.000000,60.000000,40.000000,0.000000,2.500000
Jamaica,2013.400000,1.000000,40.000000,20.000000,0.000000,1.600000
Japan,2014.142857,1.539683,10.158730,8.063492,54.587302,1.015873
Jordan,2017.000000,1.500000,0.000000,0.000000,100.000000,2.000000
Jujuy Province,2021.000000,1.000000,0.000000,0.000000,100.000000,3.000000
KOREA,1998.500000,1.000000,0.000000,0.000000,0.000000,3.000000
KS,2007.592105,1.115132,10.240132,20.858553,68.546053,2.809211
KY,2008.066667,1.157576,15.078788,29.230303,55.654545,2.769697
Kazakhstan,2015.666667,1.000000,50.000000,16.666667,0.000000,2.000000
Ke,2008.000000,1.000000,100.000000,0.000000,0.000000,2.000000
Kent-UK,2019.000000,1.000000,50.000000,50.000000,0.000000,2.000000
Kentu,2021.000000,1.000000,0.000000,0.000000,0.000000,3.000000
Kenya,2014.833333,1.000000,51.388889,4.333333,10.888889,1.944444
Korea,2011.000000,2.000000,0.000000,0.000000,0.000000,0.000000
Krk Island,2019.000000,1.000000,0.000000,0.000000,100.000000,3.000000
Kyrgyzstan,2014.500000,1.000000,43.000000,6.750000,25.000000,2.000000
LA,2006.851724,1.117241,15.196552,24.437931,59.979310,2.710345
Las Americas,2014.800000,1.200000,40.000000,21.200000,25.400000,2.333333
Latvia,2013.200000,1.000000,0.000000,0.000000,40.000000,0.600000
Lebanon,2010.000000,2.000000,100.000000,0.000000,0.000000,2.000000
Libya,2010.000000,1.000000,99.000000,1.000000,0.000000,2.000000
Limpopo Province,2016.000000,1.000000,0.000000,0.000000,0.000000,3.000000
Lithuania,2018.333333,1.000000,100.000000,0.000000,0.000000,1.666667
Lleida,2016.000000,2.000000,0.000000,0.000000,100.000000,3.000000
Luxembourg,2011.500000,2.500000,0.000000,0.000000,100.000000,2.000000
MA,2006.922374,1.200913,10.881279,17.132420,70.584475,2.703196
MD,2009.740426,1.119149,10.468085,19.297872,68.944681,2.757447
ME,2007.884354,1.061224,16.598639,19.163265,64.204082,2.795918
MEXICO,1998.888889,0.888889,14.777778,23.444444,61.555556,3.000000
MG,2020.000000,1.000000,0.000000,0.000000,100.000000,3.000000
MI,2008.032120,1.152034,13.785867,19.785867,65.762313,2.768737
MN,2008.326761,1.123944,9.366197,19.721127,70.602817,2.805634
MO,2007.508997,1.167095,13.239075,19.030848,67.185090,2.735219
MS,2008.073892,1.123153,18.719212,22.073892,59.182266,2.812808
MT,2008.406557,1.111475,15.977049,21.524590,62.465574,2.832787
Macao,2015.600000,1.200000,20.000000,0.000000,0.000000,1.200000
Macedonia,2016.000000,2.000000,100.000000,0.000000,0.000000,2.000000
Madagascar,2016.000000,1.000000,0.000000,0.000000,100.000000,0.000000
Magdalena,2018.000000,1.000000,0.000000,0.000000,100.000000,1.000000
Malawi,2007.000000,1.000000,100.000000,0.000000,0.000000,2.000000
Malaysia,2009.500000,1.000000,25.000000,34.500000,23.666667,1.833333
Maldives,2011.000000,1.000000,0.000000,0.000000,0.000000,1.000000
Mali,2016.500000,1.000000,0.000000,0.000000,50.000000,1.500000
Malta,2019.000000,1.000000,0.000000,0.000000,33.333333,0.000000
Manaus,2008.000000,1.000000,20.000000,80.000000,0.000000,3.000000
Maranhao,2009.000000,2.000000,0.000000,100.000000,0.000000,3.000000
Mato Grosso do Sul,2015.500000,1.000000,100.000000,0.000000,0.000000,2.500000
Mauritania,2018.000000,1.000000,100.000000,0.000000,0.000000,2.000000
Mex.,2020.000000,1.000000,0.000000,0.000000,100.000000,1.000000
Mexico,2014.993631,1.229299,47.490446,5.407643,22.229299,1.579618
Mexico (jjc airport),2019.000000,1.000000,100.000000,0.000000,0.000000,3.000000
Michoacan,2020.000000,1.000000,100.000000,0.000000,0.000000,2.000000
Micronesia (Federated States of),2013.000000,1.000000,1.000000,15.500000,83.000000,3.000000
Montemor-o-Novo,2010.000000,1.000000,100.000000,0.000000,0.000000,2.000000
Morocco,2015.000000,1.333333,33.333333,0.000000,33.333333,2.000000
Morona Santiago,2019.000000,1.000000,100.000000,0.000000,0.000000,2.000000
Moste,2015.000000,1.000000,0.000000,0.000000,100.000000,3.000000
Municipio de Calima,2014.000000,1.000000,100.000000,0.000000,0.000000,3.000000
N Ireland,2014.000000,2.000000,0.000000,0.000000,0.000000,0.000000
NC,2009.720833,1.150000,14.268750,23.320833,61.331250,2.754167
ND,2006.905405,1.121622,9.797297,20.702703,69.486486,2.858108
NE,2006.453608,1.113402,16.494845,20.628866,62.865979,2.773196
NH,2007.036145,1.060241,13.855422,23.493976,62.650602,2.843373
NICARAGUA,2006.000000,1.000000,0.000000,0.000000,100.000000,3.000000
NJ,2008.254181,1.214047,10.946488,23.779264,64.227425,2.729097
NL,2019.000000,1.000000,50.000000,0.000000,50.000000,3.000000
NM,2007.252492,1.112957,16.392027,21.212625,61.714286,2.830565
NSW,2008.000000,1.000000,0.000000,0.000000,100.000000,0.000000
NT,2011.000000,1.000000,50.000000,50.000000,0.000000,3.000000
NV,2010.126984,1.180952,17.063492,16.615873,65.653968,2.698413
NY,2007.790554,1.207392,12.340862,23.431211,63.342916,2.706366
Nakuru County,2016.000000,1.000000,0.000000,0.000000,0.000000,2.000000
Namibia,2011.200000,1.000000,80.000000,0.000000,20.000000,1.600000
Nandayure,2018.000000,1.000000,100.000000,0.000000,0.000000,0.000000
Nepal,2013.000000,1.000000,60.000000,0.000000,20.000000,2.400000
Netherlands,2001.833333,1.166667,0.000000,0.000000,83.333333,0.666667
Netherlands (the),2015.434783,1.130435,19.826087,6.913043,47.086957,0.956522
New Caledonia,2017.000000,1.000000,50.000000,0.000000,50.000000,2.500000
New South Wales,2013.000000,1.500000,50.000000,0.000000,50.000000,1.000000
New Zealand,2014.900000,1.300000,13.300000,6.600000,20.000000,1.200000
Niger,2000.000000,1.000000,0.000000,100.000000,0.000000,2.000000
Nigeria,2016.176471,1.176471,5.882353,6.352941,40.588235,1.294118
Niue,2017.000000,1.500000,50.000000,0.500000,49.000000,1.500000
Norfolk,2013.000000,4.000000,0.000000,0.000000,100.000000,1.000000
North West Province,2016.000000,1.000000,0.000000,0.000000,0.000000,3.000000
Norway,2015.000000,1.100000,43.300000,6.600000,30.000000,1.700000
OF,2021.171779,1.171779,28.944785,13.337423,34.981595,2.073620
OF Obyan,2018.000000,1.000000,0.000000,100.000000,0.000000,3.000000
OH,2008.901786,1.160714,14.024554,21.058036,64.453125,2.743304
OK,2007.344051,1.125402,16.752412,26.263666,56.643087,2.797428
OR,2008.456221,1.076037,13.094470,18.350230,67.850230,2.854839
OSA,2021.000000,1.000000,0.000000,0.000000,100.000000,3.000000
Oksibil,2017.000000,1.000000,100.000000,0.000000,0.000000,2.000000
Ontario,2015.000000,1.000000,56.250000,43.750000,0.000000,2.750000
Osaka,2018.000000,2.000000,0.000000,3.000000,96.000000,0.000000
PA,2007.951501,1.187067,10.496536,21.339492,67.907621,2.778291
PANAMA,2002.500000,1.000000,0.000000,100.000000,0.000000,3.000000
PERU,2001.666667,1.000000,0.000000,16.666667,50.000000,3.000000
PHILIPPINES,1999.000000,1.000000,0.000000,0.000000,100.000000,3.000000
PNG,2009.000000,1.000000,85.000000,14.000000,0.000000,2.000000
PO,2012.900000,1.600000,10.000000,10.200000,69.500000,1.100000
PR,2013.775510,1.448980,25.326531,21.897959,50.653061,2.653061
Pakistan,2015.060606,1.575758,18.121212,0.060606,24.242424,0.969697
Palau,2010.000000,1.000000,0.000000,0.000000,100.000000,3.000000
Panama,2009.187500,1.250000,33.312500,5.250000,42.500000,1.250000
Papua,2014.000000,1.000000,28.000000,71.000000,0.000000,3.000000
Papua New Guinea,2014.400000,1.200000,64.800000,15.000000,0.000000,2.600000
Paraguay,1997.000000,1.000000,0.000000,0.000000,99.000000,0.000000
Pastaza,2014.000000,1.000000,71.000000,28.000000,0.000000,2.000000
Peru,2013.075472,1.396226,17.283019,7.207547,43.377358,1.283019
Perugia,2011.000000,1.000000,100.000000,0.000000,0.000000,3.000000
Pest,2016.000000,1.000000,100.000000,0.000000,0.000000,2.000000
Philippines,2016.266667,1.133333,35.533333,4.400000,46.666667,1.800000
Poland,2014.769231,1.307692,33.923077,4.461538,23.076923,1.230769
Poole,2021.000000,1.000000,0.000000,0.000000,100.000000,0.000000
Portugal,2014.450000,1.300000,37.500000,2.550000,44.900000,1.700000
Province of Puntarenas,2020.000000,1.000000,100.000000,0.000000,0.000000,3.000000
Puntarenas,2017.000000,1.000000,100.000000,0.000000,0.000000,2.000000
QLD,2018.000000,1.000000,0.000000,0.000000,0.000000,0.000000
Qatar,2015.000000,1.500000,50.000000,0.000000,50.000000,2.000000
Quebec,2020.000000,1.000000,87.500000,12.500000,0.000000,2.500000
Queretaro,2021.000000,1.000000,100.000000,0.000000,0.000000,3.000000
RI,2008.341463,1.195122,6.268293,21.292683,72.341463,2.829268
Reggio Emilia,2022.000000,1.000000,100.000000,0.000000,0.000000,3.000000
Republic of Korea,2015.000000,2.000000,0.000000,0.000000,100.000000,0.000000
Republic of North Macedonia,2019.000000,1.000000,100.000000,0.000000,0.000000,2.000000
Romania,2016.200000,1.300000,15.000000,5.000000,60.000000,1.000000
Russia,2014.906250,1.218750,34.906250,9.718750,30.281250,1.843750
Rwanda,2020.000000,1.000000,0.000000,0.000000,0.000000,0.000000
SAUDI ARABIA,2000.666667,1.666667,33.333333,0.000000,66.666667,3.000000
SC,2008.671642,1.182836,14.559701,25.171642,59.876866,2.817164
SD,2009.286822,1.116279,17.759690,16.860465,65.364341,2.844961
SLOVAKIA,1999.000000,1.000000,0.000000,0.000000,100.000000,3.000000
SP,2019.500000,1.000000,100.000000,0.000000,0.000000,2.500000
SPAIN,2007.000000,1.000000,0.000000,0.000000,100.000000,3.000000
Saint Barthelemy,2014.250000,1.416667,36.916667,4.583333,33.333333,1.500000
San Juan Is.,2009.000000,1.000000,0.000000,0.000000,100.000000,3.000000
Saskatchewan,2011.000000,2.000000,33.000000,66.000000,0.000000,2.000000
Saudi Arabia,2014.333333,1.388889,11.111111,11.111111,38.888889,1.166667
Scotland,2017.000000,1.000000,100.000000,0.000000,0.000000,2.000000
Senegal,2015.625000,1.375000,0.000000,0.125000,37.312500,0.812500

In [89]:
df_subset.groupby('number.of.engines').mean()

,event.date,fatal.injuries.perc,nonfatal.injuries.perc,uninjured.perc,aircraft.damage.scale
number.of.engines,,,,,
0,1996.555556,11.111111,6.555556,71.000000,2.000000
1,2009.633703,15.979942,20.591466,60.294021,2.721263
2,2008.841316,19.238027,10.748413,63.454703,2.130698
3,1998.857143,4.642857,5.660714,84.125000,1.553571
4,2007.920792,12.544554,2.336634,61.227723,1.366337
6,2022.000000,0.000000,0.000000,0.000000,3.000000
8,2019.000000,0.000000,0.000000,0.000000,3.000000

In [90]:
df_subset_makes.groupby('make').mean()

,event.date,number.of.engines,fatal.injuries.perc,nonfatal.injuries.perc,uninjured.perc,aircraft.damage.scale
make,,,,,,
aero commander,2007.745283,1.396226,24.528302,25.707547,48.820755,2.726415
aeronca,2009.478261,1.000000,9.273913,26.443478,64.273913,2.904348
air tractor,2012.824444,1.000000,19.333333,23.444444,56.555556,2.828889
airbus,2015.038596,1.680702,4.933333,1.807018,52.347368,0.645614
american champion,2012.229508,1.008197,14.549180,20.762295,64.684426,2.881148
aviat,2013.288973,1.072243,13.498099,22.977186,63.140684,2.749049
beech,2008.653015,1.348692,26.532992,18.350398,53.945961,2.690557
bellanca,2005.654804,1.000000,13.790036,21.530249,64.679715,2.868327
boeing,2012.672168,1.531133,3.267817,4.813953,57.411853,1.069767
cessna,2008.283308,1.080928,15.005183,19.013783,64.988220,2.800212
cirrus,2014.518703,1.000000,28.713217,20.082294,50.164589,2.633416
dehavilland,2010.945355,1.234973,17.153005,18.748634,61.781421,2.530055
diamond,2014.500000,1.093333,11.773333,17.500000,70.046667,2.840000
embraer,2013.236994,1.653179,13.786127,4.809249,66.728324,1.341040
grumman,2003.585882,1.061176,12.781176,30.145882,57.051765,2.762353
luscombe,2008.822086,1.000000,9.815951,31.288344,58.895706,2.877301
maule,2010.237069,1.000000,8.814655,14.818966,76.362069,2.935345
mcdonnell douglas,2007.785714,1.669643,1.794643,5.366071,70.285714,1.491071
mooney,2009.614224,1.000000,24.403017,24.644397,50.280172,2.780172
north american,2010.923729,1.033898,24.432203,17.016949,57.694915,2.677966
piper,2008.621956,1.127624,18.130563,19.946474,61.253359,2.793241
stinson,2010.248276,1.000000,4.131034,28.662069,67.172414,2.951724
taylorcraft,2007.227273,1.000000,9.090909,33.636364,57.272727,2.890909

In [91]:
df_subset.groupby('engine.type').mean()

,event.date,number.of.engines,fatal.injuries.perc,nonfatal.injuries.perc,uninjured.perc,aircraft.damage.scale
engine.type,,,,,,
Electric,2017.000000,3.600000,0.000000,0.000000,20.000000,2.800000
Geared Turbofan,2019.166667,1.916667,0.000000,0.000000,8.333333,0.083333
N/A,2017.117445,1.157740,26.767568,14.690663,41.529975,2.033661
Reciprocating,2007.583838,1.087539,14.242429,21.151245,64.423789,2.847577
Turbo Fan,2011.055151,2.041623,6.356920,4.629553,75.072841,1.339230
Turbo Jet,2007.196078,1.941176,18.176471,11.202614,66.555556,1.816993
Turbo Prop,2010.593985,1.382707,20.921053,16.172932,60.906767,2.563910
Turbo Shaft,2014.545455,1.272727,9.090909,27.272727,54.545455,2.545455

In [92]:
df_subset.groupby('weather.condition').mean()

,event.date,number.of.engines,fatal.injuries.perc,nonfatal.injuries.perc,uninjured.perc,aircraft.damage.scale
weather.condition,,,,,,
IMC,2005.512858,1.369581,53.273328,14.257899,31.587068,2.380602
N/A,2016.687668,1.254380,27.691712,8.764825,37.307615,1.693396
UNK,2006.752113,1.281690,34.518310,8.605634,42.670423,1.788732
VMC,2008.723413,1.128288,11.822346,21.150787,66.688624,2.802031

In [93]:
df_subset.groupby('aircraft.damage.scale').mean()

,event.date,number.of.engines,fatal.injuries.perc,nonfatal.injuries.perc,uninjured.perc
aircraft.damage.scale,,,,,
0,2013.972059,1.497059,4.222059,4.958088,56.652941
1,2009.415217,1.566304,0.806522,2.508696,72.616304
2,2005.289869,1.188878,70.124960,17.755193,10.536593
3,2009.859056,1.110519,9.165568,21.108674,68.818455

### Business Recommendation 1

In [94]:
df_subset.groupby('engine.type')['aircraft.damage.scale', 'fatal.injuries.perc'].mean()

<ipython-input-94-6ec350043e64>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df_subset.groupby('engine.type')['aircraft.damage.scale', 'fatal.injuries.perc'].mean()

                 aircraft.damage.scale  fatal.injuries.perc
engine.type
Electric                      2.800000             0.000000
Geared Turbofan               0.083333             0.000000
N/A                           2.033661            26.767568
Reciprocating                 2.847577            14.242429
Turbo Fan                     1.339230             6.356920
Turbo Jet                     1.816993            18.176471
Turbo Prop                    2.563910            20.921053
Turbo Shaft                   2.545455             9.090909

Tableau Visualization 1: Engine Type

Explain why excluded N/A from graph

Recommendation:

### Business Recommendation 2

In [95]:
df_subset.groupby('number.of.engines')['aircraft.damage.scale', 'fatal.injuries.perc'].mean()

<ipython-input-95-9ecaeae76db8>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df_subset.groupby('number.of.engines')['aircraft.damage.scale', 'fatal.injuries.perc'].mean()

                   aircraft.damage.scale  fatal.injuries.perc
number.of.engines
0                               2.000000            11.111111
1                               2.721263            15.979942
2                               2.130698            19.238027
3                               1.553571             4.642857
4                               1.366337            12.544554
6                               3.000000             0.000000
8                               3.000000             0.000000

Tableau Visualization 2: Number of Engines

Explain why excluded 0 engines

In [ ]:
Show table of frequencies of number of engines

In [99]:
df_subset['number.of.engines'].value_counts(normalize=True)

1    0.850907
2    0.142201
4    0.004144
3    0.002298
0    0.000369
8    0.000041
6    0.000041
Name: number.of.engines, dtype: float64

Recommendaiton:

### Business Recommendation 3

In [96]:
df_subset_makes.groupby('make')['aircraft.damage.scale', 'fatal.injuries.perc'].mean()

<ipython-input-96-269f3ed2dd11>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df_subset_makes.groupby('make')['aircraft.damage.scale', 'fatal.injuries.perc'].mean()

                   aircraft.damage.scale  fatal.injuries.perc
make
aero commander                  2.726415            24.528302
aeronca                         2.904348             9.273913
air tractor                     2.828889            19.333333
airbus                          0.645614             4.933333
american champion               2.881148            14.549180
aviat                           2.749049            13.498099
beech                           2.690557            26.532992
bellanca                        2.868327            13.790036
boeing                          1.069767             3.267817
cessna                          2.800212            15.005183
cirrus                          2.633416            28.713217
dehavilland                     2.530055            17.153005
diamond                         2.840000            11.773333
embraer                         1.341040            13.786127
grumman                         2.762353            12.781176
luscombe                        2.877301             9.815951
maule                           2.935345             8.814655
mcdonnell douglas               1.491071             1.794643
mooney                          2.780172            24.403017
north american                  2.677966            24.432203
piper                           2.793241            18.130563
stinson                         2.951724             4.131034
taylorcraft                     2.890909             9.090909

Tableau Visualization 3: Aircraft Damage

Recommendation:

## Conclusion

Our data concludes that our company's venture into the airline business should involve Airbus or Boeing turbo fan planes.

If our company wishes to start with a private, chartered plane business involving fewer passengers, we recommend purchasing single engine planes. If our company wishes to make a bigger investment into commercial passenger flights, we recommend purchasing dual engine planes.

### Next Steps

While our results have been very informative to our business venture, there are more data exploration possibilities that could inform other aspects of the business. Although such questions were not within the scope of this project, a future researcher could consider adding back data that we removed from the original, full NTSB dataset in order to draw conclusions that flesh out what a safe and cost-effective aerospace business should look like.

Some examples of questions that could be answered using the available data are: the safetest area of the world to fly, whether private vs. commercial flights are safer, whether certain airports experienced greater percentages of fatalities, which phase of flight tended to be most dangerous, etc.

We have provided the full NTSB dataset, our two cleaned subsets, and our Tableau Dashboard in our repository. We encourage other data scientists to explore the full possibilities of research in this arena!