# Markdown

# Load in Data

In [16]:
# Load in data
import pandas as pd
df = pd.read_csv('../Data/Aviation_Data.csv', dtype=object,  parse_dates=['Event.Date', 'Publication.Date'])
df.head()

/Users/shelleywang/anaconda3/envs/learn-env/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3145: DtypeWarning: Columns (6,7,28) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaT
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,1996-09-19
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.9222,-81.8781,NaN,NaN,...,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,2007-02-26
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,2000-12-09
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,1980-04-16

# Data Description

In [10]:
df.shape

(90348, 31)

In [21]:
df.describe(datetime_is_numeric=True)

,Event.Date,Number.of.Engines,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Publication.Date
count,88889,82805.000000,77488.000000,76379.000000,76956.000000,82977.000000,73659
mean,1999-09-17 17:13:39.354475904,1.146585,0.647855,0.279881,0.357061,5.325440,2004-05-01 19:38:20.932676224
min,1948-10-24 00:00:00,0.000000,0.000000,0.000000,0.000000,0.000000,1980-04-16 00:00:00
25%,1989-01-15 00:00:00,1.000000,0.000000,0.000000,0.000000,0.000000,1993-09-14 00:00:00
50%,1998-07-18 00:00:00,1.000000,0.000000,0.000000,0.000000,1.000000,2001-10-07 00:00:00
75%,2009-07-01 00:00:00,1.000000,0.000000,0.000000,0.000000,2.000000,2020-09-25 00:00:00
max,2022-12-29 00:00:00,8.000000,349.000000,161.000000,380.000000,699.000000,2022-12-30 00:00:00
std,NaN,0.446510,5.485960,1.544084,2.235625,27.913634,NaN

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90348 entries, 0 to 90347
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      90348 non-null  object
 2   Accident.Number         88889 non-null  object
 3   Event.Date              88889 non-null  datetime64[ns]
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Latitude                34382 non-null  object
 7   Longitude               34373 non-null  object
 8   Airport.Code            50249 non-null  object
 9   Airport.Name            52790 non-null  object
 10  Injury.Severity         87889 non-null  object
 11  Aircraft.damage         85695 non-null  object
 12  Aircraft.Category       32287 non-null  object
 13  Registration.Number     87572 non-null  object
 14  Make                    88826 non-null  object
 15  Model                   88797 non-null  object
 16  Amateur.Built           88787 non-null  object
 17  Number.of.Engines       82805 non-null  float64
 18  Engine.Type             81812 non-null  object
 19  FAR.Description         32023 non-null  object
 20  Schedule                12582 non-null  object
 21  Purpose.of.flight       82697 non-null  object
 22  Air.carrier             16648 non-null  object
 23  Total.Fatal.Injuries    77488 non-null  float64
 24  Total.Serious.Injuries  76379 non-null  float64
 25  Total.Minor.Injuries    76956 non-null  float64
 26  Total.Uninjured         82977 non-null  float64
 27  Weather.Condition       84397 non-null  object
 28  Broad.phase.of.flight   61724 non-null  object
 29  Report.Status           82508 non-null  object
 30  Publication.Date        73659 non-null  datetime64[ns]
dtypes: datetime64[ns](2), float64(5), object(24)
memory usage: 21.4+ MB

In [18]:
df.isna().sum()

Event.Id                   1459
Investigation.Type            0
Accident.Number            1459
Event.Date                 1459
Location                   1511
Country                    1685
Latitude                  55966
Longitude                 55975
Airport.Code              40099
Airport.Name              37558
Injury.Severity            2459
Aircraft.damage            4653
Aircraft.Category         58061
Registration.Number        2776
Make                       1522
Model                      1551
Amateur.Built              1561
Number.of.Engines          7543
Engine.Type                8536
FAR.Description           58325
Schedule                  77766
Purpose.of.flight          7651
Air.carrier               73700
Total.Fatal.Injuries      12860
Total.Serious.Injuries    13969
Total.Minor.Injuries      13392
Total.Uninjured            7371
Weather.Condition          5951
Broad.phase.of.flight     28624
Report.Status              7840
Publication.Date          16689
dtype: int64

In [23]:
df['Air.carrier'].value_counts()

Pilot                                               258
American Airlines                                    90
United Airlines                                      89
Delta Air Lines                                      53
SOUTHWEST AIRLINES CO                                42
                                                   ...
Bulldog Aviation Llc                                  1
TOPSIDE AVIATION INC                                  1
JOHN M. MILLER                                        1
CHENEVERT KENNETH F                                   1
Transportes Aereos Del Ariari S.A.A - TARI S.A.S      1
Name: Air.carrier, Length: 13590, dtype: int64

In [24]:
df['Purpose.of.flight'].value_counts()

Personal                     49448
Instructional                10601
Unknown                       6802
Aerial Application            4712
Business                      4018
Positioning                   1646
Other Work Use                1264
Ferry                          812
Aerial Observation             794
Public Aircraft                720
Executive/corporate            553
Flight Test                    405
Skydiving                      182
External Load                  123
Public Aircraft - Federal      105
Banner Tow                     101
Air Race show                   99
Public Aircraft - Local         74
Public Aircraft - State         64
Air Race/show                   59
Glider Tow                      53
Firefighting                    40
Air Drop                        11
ASHO                             6
PUBS                             4
PUBL                             1
Name: Purpose.of.flight, dtype: int64

In [25]:
df['FAR.Description'].value_counts()

091                               18221
Part 91: General Aviation          6486
NUSN                               1584
NUSC                               1013
137                                1010
135                                 746
121                                 679
Part 137: Agricultural              437
UNK                                 371
Part 135: Air Taxi & Commuter       298
PUBU                                253
129                                 246
Part 121: Air Carrier               165
133                                 107
Part 129: Foreign                   100
Non-U.S., Non-Commercial             97
Non-U.S., Commercial                 93
Part 133: Rotorcraft Ext. Load       32
Unknown                              22
Public Use                           19
091K                                 14
ARMF                                  8
Part 125: 20+ Pax,6000+ lbs           5
125                                   5
107                                   4
103                                   2
Public Aircraft                       2
Armed Forces                          1
437                                   1
Part 91 Subpart K: Fractional         1
Part 91F: Special Flt Ops.            1
Name: FAR.Description, dtype: int64

In [26]:
df['Schedule'].value_counts()

NSCH    4474
UNK     4099
SCHD    4009
Name: Schedule, dtype: int64

In [29]:
df['Report.Status'].value_counts()

Probable Cause                                                                                                                                                                                                                       61754
Foreign                                                                                                                                                                                                                               1999
<br /><br />                                                                                                                                                                                                                           167
Factual                                                                                                                                                                                                                                145
The pilot's failure to maintain directional control during the landing roll.                                                                                                                                                            58
                                                                                                                                                                                                                                     ...
A partial loss of engine power due to the undetected loosening of the four carburetor bolts that connect the throttle body to the bowl assembly.                                                                                         1
The passengers inadvertent retraction of the landing gear during the landing roll without being instructed to do so by the pilot.                                                                                                       1
The pilot's overapplication of brakes during landing, which resulted in a nose-over.\r                                                                                                                                                   1
The pilots failure to maintain sufficient altitude to clear power lines while maneuvering at low altitude. Contributing to the accident was the pilots failure to follow company operating specifications for minimum altitude.        1
A loss of directional control for reasons that were not determined due to lack of available evidence.                                                                                                                                    1
Name: Report.Status, Length: 17007, dtype: int64

# Making Subset

In [42]:
df_subset = df[['Event.Date', 'Investigation.Type', 'Location', 'Country', 'Airport.Code', 
                'Injury.Severity', 'Aircraft.damage', 'Aircraft.Category', 'Make', 'Model', 
                'Amateur.Built', 'Number.of.Engines', 'Engine.Type', 'FAR.Description', 'Schedule',
                'Purpose.of.flight', 'Total.Fatal.Injuries', 'Total.Minor.Injuries', 'Total.Uninjured', 
                'Weather.Condition', 'Broad.phase.of.flight', 'Report.Status']]

In [43]:
df_subset = df_subset.rename(columns = lambda x: x.lower())
df_subset.head()

,event.date,investigation.type,location,country,airport.code,injury.severity,aircraft.damage,aircraft.category,make,model,...,engine.type,far.description,schedule,purpose.of.flight,total.fatal.injuries,total.minor.injuries,total.uninjured,weather.condition,broad.phase.of.flight,report.status
0,1948-10-24,Accident,"MOOSE CREEK, ID",United States,NaN,Fatal(2),Destroyed,NaN,Stinson,108-3,...,Reciprocating,NaN,NaN,Personal,2.0,0.0,0.0,UNK,Cruise,Probable Cause
1,1962-07-19,Accident,"BRIDGEPORT, CA",United States,NaN,Fatal(4),Destroyed,NaN,Piper,PA24-180,...,Reciprocating,NaN,NaN,Personal,4.0,0.0,0.0,UNK,Unknown,Probable Cause
2,1974-08-30,Accident,"Saltville, VA",United States,NaN,Fatal(3),Destroyed,NaN,Cessna,172M,...,Reciprocating,NaN,NaN,Personal,3.0,NaN,NaN,IMC,Cruise,Probable Cause
3,1977-06-19,Accident,"EUREKA, CA",United States,NaN,Fatal(2),Destroyed,NaN,Rockwell,112,...,Reciprocating,NaN,NaN,Personal,2.0,0.0,0.0,IMC,Cruise,Probable Cause
4,1979-08-02,Accident,"Canton, OH",United States,NaN,Fatal(1),Destroyed,NaN,Cessna,501,...,NaN,NaN,NaN,Personal,1.0,NaN,0.0,VMC,Approach,Probable Cause

In [44]:
df_subset.shape

(90348, 22)

In [45]:
df_subset.describe()

,number.of.engines,total.fatal.injuries,total.minor.injuries,total.uninjured
count,82805.000000,77488.000000,76956.000000,82977.000000
mean,1.146585,0.647855,0.357061,5.325440
std,0.446510,5.485960,2.235625,27.913634
min,0.000000,0.000000,0.000000,0.000000
25%,1.000000,0.000000,0.000000,0.000000
50%,1.000000,0.000000,0.000000,1.000000
75%,1.000000,0.000000,0.000000,2.000000
max,8.000000,349.000000,380.000000,699.000000

In [46]:
df_subset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90348 entries, 0 to 90347
Data columns (total 22 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   event.date             88889 non-null  datetime64[ns]
 1   investigation.type     90348 non-null  object
 2   location               88837 non-null  object
 3   country                88663 non-null  object
 4   airport.code           50249 non-null  object
 5   injury.severity        87889 non-null  object
 6   aircraft.damage        85695 non-null  object
 7   aircraft.category      32287 non-null  object
 8   make                   88826 non-null  object
 9   model                  88797 non-null  object
 10  amateur.built          88787 non-null  object
 11  number.of.engines      82805 non-null  float64
 12  engine.type            81812 non-null  object
 13  far.description        32023 non-null  object
 14  schedule               12582 non-null  object
 15  purpose.of.flight      82697 non-null  object
 16  total.fatal.injuries   77488 non-null  float64
 17  total.minor.injuries   76956 non-null  float64
 18  total.uninjured        82977 non-null  float64
 19  weather.condition      84397 non-null  object
 20  broad.phase.of.flight  61724 non-null  object
 21  report.status          82508 non-null  object
dtypes: datetime64[ns](1), float64(4), object(17)
memory usage: 15.2+ MB

In [47]:
df_subset.isna().sum()

event.date                1459
investigation.type           0
location                  1511
country                   1685
airport.code             40099
injury.severity           2459
aircraft.damage           4653
aircraft.category        58061
make                      1522
model                     1551
amateur.built             1561
number.of.engines         7543
engine.type               8536
far.description          58325
schedule                 77766
purpose.of.flight         7651
total.fatal.injuries     12860
total.minor.injuries     13392
total.uninjured           7371
weather.condition         5951
broad.phase.of.flight    28624
report.status             7840
dtype: int64

# Exploratory Visuals: Scatter Plots

In [ ]:
# columns haven't been cleaned yet