# Markdown

# Load in Data

In [1]:
# Load in data
import pandas as pd
df = pd.read_csv('../Data/Aviation_Data.csv', dtype=object,  parse_dates=['Event.Date', 'Publication.Date'])
df.head()

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaT
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,1996-09-19
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.922223,-81.878056,NaN,NaN,...,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,2007-02-26
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,2000-12-09
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,1980-04-16

# Data Description

In [2]:
df.shape

(90348, 31)

In [3]:
df.describe(datetime_is_numeric=True)

                          Event.Date               Publication.Date
count                          88889                          73659
mean   1999-09-17 17:13:39.354475904  2004-05-01 19:38:20.932676224
min              1948-10-24 00:00:00            1980-04-16 00:00:00
25%              1989-01-15 00:00:00            1993-09-14 00:00:00
50%              1998-07-18 00:00:00            2001-10-07 00:00:00
75%              2009-07-01 00:00:00            2020-09-25 00:00:00
max              2022-12-29 00:00:00            2022-12-30 00:00:00

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90348 entries, 0 to 90347
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      90348 non-null  object
 2   Accident.Number         88889 non-null  object
 3   Event.Date              88889 non-null  datetime64[ns]
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Latitude                34382 non-null  object
 7   Longitude               34373 non-null  object
 8   Airport.Code            50249 non-null  object
 9   Airport.Name            52790 non-null  object
 10  Injury.Severity         87889 non-null  object
 11  Aircraft.damage         85695 non-null  object
 12  Aircraft.Category       32287 non-null  object
 13  Registration.Number     87572 non-null  object
 14  Make                    88826 non-null  object
 15  Model                   88797 non-null  object
 16  Amateur.Built           88787 non-null  object
 17  Number.of.Engines       82805 non-null  object
 18  Engine.Type             81812 non-null  object
 19  FAR.Description         32023 non-null  object
 20  Schedule                12582 non-null  object
 21  Purpose.of.flight       82697 non-null  object
 22  Air.carrier             16648 non-null  object
 23  Total.Fatal.Injuries    77488 non-null  object
 24  Total.Serious.Injuries  76379 non-null  object
 25  Total.Minor.Injuries    76956 non-null  object
 26  Total.Uninjured         82977 non-null  object
 27  Weather.Condition       84397 non-null  object
 28  Broad.phase.of.flight   61724 non-null  object
 29  Report.Status           82508 non-null  object
 30  Publication.Date        73659 non-null  datetime64[ns]
dtypes: datetime64[ns](2), object(29)
memory usage: 21.4+ MB

In [5]:
df.isna().sum()

Event.Id                   1459
Investigation.Type            0
Accident.Number            1459
Event.Date                 1459
Location                   1511
Country                    1685
Latitude                  55966
Longitude                 55975
Airport.Code              40099
Airport.Name              37558
Injury.Severity            2459
Aircraft.damage            4653
Aircraft.Category         58061
Registration.Number        2776
Make                       1522
Model                      1551
Amateur.Built              1561
Number.of.Engines          7543
Engine.Type                8536
FAR.Description           58325
Schedule                  77766
Purpose.of.flight          7651
Air.carrier               73700
Total.Fatal.Injuries      12860
Total.Serious.Injuries    13969
Total.Minor.Injuries      13392
Total.Uninjured            7371
Weather.Condition          5951
Broad.phase.of.flight     28624
Report.Status              7840
Publication.Date          16689
dtype: int64

In [6]:
df['Air.carrier'].value_counts()

Pilot                                    258
American Airlines                         90
United Airlines                           89
Delta Air Lines                           53
SOUTHWEST AIRLINES CO                     42
                                        ...
POINT OF VIEW HELICOPTER SERVICES LLC      1
Tris D. Germain                            1
Bernard W. Gomez                           1
PARKER LARRY                               1
Harvey W. Kiniken, Jr                      1
Name: Air.carrier, Length: 13590, dtype: int64

In [7]:
df['Purpose.of.flight'].value_counts()

Personal                     49448
Instructional                10601
Unknown                       6802
Aerial Application            4712
Business                      4018
Positioning                   1646
Other Work Use                1264
Ferry                          812
Aerial Observation             794
Public Aircraft                720
Executive/corporate            553
Flight Test                    405
Skydiving                      182
External Load                  123
Public Aircraft - Federal      105
Banner Tow                     101
Air Race show                   99
Public Aircraft - Local         74
Public Aircraft - State         64
Air Race/show                   59
Glider Tow                      53
Firefighting                    40
Air Drop                        11
ASHO                             6
PUBS                             4
PUBL                             1
Name: Purpose.of.flight, dtype: int64

In [8]:
df['FAR.Description'].value_counts()

091                               18221
Part 91: General Aviation          6486
NUSN                               1584
NUSC                               1013
137                                1010
135                                 746
121                                 679
Part 137: Agricultural              437
UNK                                 371
Part 135: Air Taxi & Commuter       298
PUBU                                253
129                                 246
Part 121: Air Carrier               165
133                                 107
Part 129: Foreign                   100
Non-U.S., Non-Commercial             97
Non-U.S., Commercial                 93
Part 133: Rotorcraft Ext. Load       32
Unknown                              22
Public Use                           19
091K                                 14
ARMF                                  8
125                                   5
Part 125: 20+ Pax,6000+ lbs           5
107                                   4
Public Aircraft                       2
103                                   2
Armed Forces                          1
Part 91 Subpart K: Fractional         1
Part 91F: Special Flt Ops.            1
437                                   1
Name: FAR.Description, dtype: int64

In [9]:
df['Schedule'].value_counts()

NSCH    4474
UNK     4099
SCHD    4009
Name: Schedule, dtype: int64

In [10]:
df['Report.Status'].value_counts()

Probable Cause                                                                                                                                                                           61754
Foreign                                                                                                                                                                                   1999
<br /><br />                                                                                                                                                                               167
Factual                                                                                                                                                                                    145
The pilot's failure to maintain directional control during the landing roll.                                                                                                                58
                                                                                                                                                                                         ...
The pilot's failure to maintain terrain clearance while maneuvering.  Contributing to the accident was the low altitude.                                                                     1
The pilotÂ’s failure to lower the nose landing gear in time to prevent it from slamming onto the runway and collapsing.                                                                       1
The student pilot's loss of directional control during the landing flare in gusting wind conditions and the certified flight instructor's delayed remedial action.                           1
The partial loss of engine power due to a fractured exhaust valve, which resulted in a forced landing on unsuitable terrain and a subsequent rollover.                                       1
The pilot's failure to follow the air traffic controllerÂ’s instructions and his subsequent failure to maintain adequate lookout to see and avoid the other airplane on the taxiway.          1
Name: Report.Status, Length: 17007, dtype: int64

# Making Subset

In [11]:
df_subset = df[['Event.Date', 'Location', 'Country', 
                'Aircraft.damage', 'Aircraft.Category', 'Make', 'Model', 
                'Amateur.Built', 'Engine.Type', 'FAR.Description',
                'Total.Fatal.Injuries', 'Total.Minor.Injuries', 'Total.Uninjured', 'Total.Serious.Injuries', 
                'Weather.Condition']]

In [12]:
df_subset = df_subset.rename(columns = lambda x: x.lower())

In [13]:
# Keeping only airplanes
df_subset = df_subset.loc[df_subset['aircraft.category'] == 'Airplane']

In [14]:
# Keeping only non-amateur built
df_subset = df_subset.loc[df_subset['amateur.built'] == 'No']

In [15]:
# Dropping amateur built and aircraft category
df_subset = df_subset[['event.date', 'location', 'country', 
                'aircraft.damage', 'make', 'model', 'total.serious.injuries',
                'engine.type', 'total.fatal.injuries', 'total.minor.injuries', 'total.uninjured', 
                'weather.condition']]

In [16]:
# Keeping only the year (first 4 characters) from event.date
df_subset = df_subset.rename(columns = lambda x: x.lower())
df_subset['event.date'] = pd.to_datetime(df_subset['event.date']).dt.year

In [17]:
# Keeping only the state abbreviations from 'location' column into a new column
df_subset['state'] = df_subset['location'].str.split(",").str[1]
df_subset = df_subset.drop(columns=['location'])

In [18]:
df_subset.shape

(24417, 12)

In [19]:
df_subset.isna().sum()

event.date                   0
country                      7
aircraft.damage           1270
make                         3
model                       18
total.serious.injuries    2846
engine.type               3956
total.fatal.injuries      2766
total.minor.injuries      2562
total.uninjured            718
weather.condition         2979
state                       24
dtype: int64

In [20]:
df_subset.describe()

         event.date
count  24417.000000
mean    2009.465332
std       11.509243
min     1979.000000
25%     2008.000000
50%     2012.000000
75%     2017.000000
max     2022.000000

In [21]:
df_subset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24417 entries, 5 to 90345
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   event.date              24417 non-null  int64
 1   country                 24410 non-null  object
 2   aircraft.damage         23147 non-null  object
 3   make                    24414 non-null  object
 4   model                   24399 non-null  object
 5   total.serious.injuries  21571 non-null  object
 6   engine.type             20461 non-null  object
 7   total.fatal.injuries    21651 non-null  object
 8   total.minor.injuries    21855 non-null  object
 9   total.uninjured         23699 non-null  object
 10  weather.condition       21438 non-null  object
 11  state                   24393 non-null  object
dtypes: int64(1), object(11)
memory usage: 2.4+ MB

# Dealing with Nulls

In [22]:
# Filling the NaN's in the 4 injuries columns with 0's

df_subset['total.serious.injuries'].fillna(0, inplace=True)
df_subset['total.fatal.injuries'].fillna(0, inplace=True)
df_subset['total.minor.injuries'].fillna(0, inplace=True)
df_subset['total.uninjured'].fillna(0, inplace=True)

df_subset.isna().sum()

event.date                   0
country                      7
aircraft.damage           1270
make                         3
model                       18
total.serious.injuries       0
engine.type               3956
total.fatal.injuries         0
total.minor.injuries         0
total.uninjured              0
weather.condition         2979
state                       24
dtype: int64

In [23]:
# Dropping rows in columns that have very few nulls

df_subset2 = df_subset.dropna(subset=['country', 'make', 'model', 'state'])
df_subset2.isna().sum()

event.date                   0
country                      0
aircraft.damage           1263
make                         0
model                        0
total.serious.injuries       0
engine.type               3942
total.fatal.injuries         0
total.minor.injuries         0
total.uninjured              0
weather.condition         2968
state                        0
dtype: int64

In [24]:
df_subset2.shape

(24374, 12)

In [25]:
# Replacing nulls in aircraft.damage column
df_subset2['aircraft.damage'].value_counts()

Substantial    18965
Destroyed       3129
Minor            920
Unknown           97
Name: aircraft.damage, dtype: int64

In [26]:
df_subset2['aircraft.damage'] = df_subset2['aircraft.damage'].fillna('N/A')

<ipython-input-26-4a39ce36e913>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset2['aircraft.damage'] = df_subset2['aircraft.damage'].fillna('N/A')

In [27]:
df_subset2.isna().sum()

event.date                   0
country                      0
aircraft.damage              0
make                         0
model                        0
total.serious.injuries       0
engine.type               3942
total.fatal.injuries         0
total.minor.injuries         0
total.uninjured              0
weather.condition         2968
state                        0
dtype: int64

In [28]:
# Replacing nulls in engine.type column
df_subset2['engine.type'].value_counts()

Reciprocating      17832
Turbo Prop          1330
Turbo Fan            961
Turbo Jet            153
Unknown              127
Geared Turbofan       12
Turbo Shaft           11
Electric               5
UNK                    1
Name: engine.type, dtype: int64

In [29]:
df_subset2['engine.type'] = df_subset2['engine.type'].fillna('N/A')

<ipython-input-29-04cf188d3d9f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset2['engine.type'] = df_subset2['engine.type'].fillna('N/A')

In [30]:
df_subset2.isna().sum()

event.date                   0
country                      0
aircraft.damage              0
make                         0
model                        0
total.serious.injuries       0
engine.type                  0
total.fatal.injuries         0
total.minor.injuries         0
total.uninjured              0
weather.condition         2968
state                        0
dtype: int64

In [31]:
# Replacing nulls in weather.condition column
df_subset2['weather.condition'].value_counts()

VMC    19690
IMC     1361
Unk      215
UNK      140
Name: weather.condition, dtype: int64

In [32]:
df_subset2['weather.condition'] = df_subset2['weather.condition'].fillna('N/A')

<ipython-input-32-8d667e457855>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset2['weather.condition'] = df_subset2['weather.condition'].fillna('N/A')

In [33]:
df_subset2.isna().sum()

event.date                0
country                   0
aircraft.damage           0
make                      0
model                     0
total.serious.injuries    0
engine.type               0
total.fatal.injuries      0
total.minor.injuries      0
total.uninjured           0
weather.condition         0
state                     0
dtype: int64

# Changing str columns to int columns

In [34]:
df_subset2.dtypes

event.date                 int64
country                   object
aircraft.damage           object
make                      object
model                     object
total.serious.injuries    object
engine.type               object
total.fatal.injuries      object
total.minor.injuries      object
total.uninjured           object
weather.condition         object
state                     object
dtype: object

In [35]:
df_subset2['total.serious.injuries'] = df_subset2['total.serious.injuries'].values.astype(float).astype(int)
df_subset2['total.fatal.injuries'] = df_subset2['total.fatal.injuries'].values.astype(float).astype(int)
df_subset2['total.minor.injuries'] = df_subset2['total.minor.injuries'].values.astype(float).astype(int)
df_subset2['total.uninjured'] = df_subset2['total.uninjured'].values.astype(float).astype(int)

<ipython-input-35-a134da337d69>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset2['total.serious.injuries'] = df_subset2['total.serious.injuries'].values.astype(float).astype(int)
<ipython-input-35-a134da337d69>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset2['total.fatal.injuries'] = df_subset2['total.fatal.injuries'].values.astype(float).astype(int)
<ipython-input-35-a134da337d69>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset2['total.minor.injuries'] = df_subset2['total.minor.injuries'].values.astype(float).astype(int)
<ipython-input-35-a134da337d69>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset2['total.uninjured'] = df_subset2['total.uninjured'].values.astype(float).astype(int)

In [36]:
df_subset2.dtypes

event.date                 int64
country                   object
aircraft.damage           object
make                      object
model                     object
total.serious.injuries     int64
engine.type               object
total.fatal.injuries       int64
total.minor.injuries       int64
total.uninjured            int64
weather.condition         object
state                     object
dtype: object

# Making new columns for calculations

In [37]:
# Turning injury columns into percentage of total passengers
df_subset2['fatal.injuries.perc'] = round(((df_subset2['total.fatal.injuries'] / (df_subset2['total.fatal.injuries'] + 
                                                                             df_subset2['total.minor.injuries'] + 
                                                                             df_subset2['total.serious.injuries'] + 
                                                                             df_subset2['total.uninjured'])) * 100), 1)
df_subset2['serious.injuries.perc'] = round(((df_subset2['total.serious.injuries'] / (df_subset2['total.fatal.injuries'] + 
                                                                             df_subset2['total.minor.injuries'] + 
                                                                             df_subset2['total.serious.injuries'] + 
                                                                             df_subset2['total.uninjured'])) * 100), 1)
df_subset2['minor.injuries.perc'] = round(((df_subset2['total.minor.injuries'] / (df_subset2['total.fatal.injuries'] + 
                                                                             df_subset2['total.minor.injuries'] + 
                                                                             df_subset2['total.serious.injuries'] + 
                                                                             df_subset2['total.uninjured'])) * 100), 1)
df_subset2['uninjured.injuries.perc'] = round(((df_subset2['total.uninjured'] / (df_subset2['total.fatal.injuries'] + 
                                                                             df_subset2['total.minor.injuries'] + 
                                                                             df_subset2['total.serious.injuries'] + 
                                                                             df_subset2['total.uninjured'])) * 100), 1)

<ipython-input-37-d9984a393922>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset2['fatal.injuries.perc'] = round(((df_subset2['total.fatal.injuries'] / (df_subset2['total.fatal.injuries'] +
<ipython-input-37-d9984a393922>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset2['serious.injuries.perc'] = round(((df_subset2['total.serious.injuries'] / (df_subset2['total.fatal.injuries'] +
<ipython-input-37-d9984a393922>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset2['minor.injuries.perc'] = round(((df_subset2['total.minor.injuries'] / (df_subset2['total.fatal.injuries'] +
<ipython-input-37-d9984a393922>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset2['uninjured.injuries.perc'] = round(((df_subset2['total.uninjured'] / (df_subset2['total.fatal.injuries'] +

In [38]:
df_subset2.head()

,event.date,country,aircraft.damage,make,model,total.serious.injuries,engine.type,total.fatal.injuries,total.minor.injuries,total.uninjured,weather.condition,state,fatal.injuries.perc,serious.injuries.perc,minor.injuries.perc,uninjured.injuries.perc
5,1979,United States,Substantial,Mcdonnell Douglas,DC9,0,Turbo Fan,0,1,44,VMC,MA,0.0,0.0,2.2,97.8
7,1982,United States,Substantial,Cessna,140,0,Reciprocating,0,0,2,VMC,WA,0.0,0.0,0.0,100.0
8,1982,United States,Substantial,Cessna,401B,0,Reciprocating,0,0,2,IMC,NJ,0.0,0.0,0.0,100.0
12,1982,United States,Destroyed,Bellanca,17-30A,0,Reciprocating,0,1,0,IMC,LA,0.0,0.0,100.0,0.0
13,1982,United States,Destroyed,Cessna,R172K,0,Reciprocating,1,0,0,IMC,TX,100.0,0.0,0.0,0.0

In [39]:
df_subset2.shape

(24374, 16)

In [40]:
df_subset2.describe()

,event.date,total.serious.injuries,total.fatal.injuries,total.minor.injuries,total.uninjured,fatal.injuries.perc,serious.injuries.perc,minor.injuries.perc,uninjured.injuries.perc
count,24374.000000,24374.000000,24374.000000,24374.000000,24374.000000,23475.000000,23475.000000,23475.000000,23475.000000
mean,2009.485230,0.268893,0.613851,0.213014,6.833224,17.033845,10.790164,9.032950,63.142888
std,11.499791,2.092648,5.946346,1.601476,33.085672,36.577810,28.903847,26.258984,47.122980
min,1979.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2008.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,2012.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,100.000000
75%,2017.000000,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000,100.000000
max,2022.000000,161.000000,295.000000,200.000000,588.000000,100.000000,100.000000,100.000000,100.000000

In [41]:
df_subset2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24374 entries, 5 to 90345
Data columns (total 16 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   event.date               24374 non-null  int64
 1   country                  24374 non-null  object
 2   aircraft.damage          24374 non-null  object
 3   make                     24374 non-null  object
 4   model                    24374 non-null  object
 5   total.serious.injuries   24374 non-null  int64
 6   engine.type              24374 non-null  object
 7   total.fatal.injuries     24374 non-null  int64
 8   total.minor.injuries     24374 non-null  int64
 9   total.uninjured          24374 non-null  int64
 10  weather.condition        24374 non-null  object
 11  state                    24374 non-null  object
 12  fatal.injuries.perc      23475 non-null  float64
 13  serious.injuries.perc    23475 non-null  float64
 14  minor.injuries.perc      23475 non-null  float64
 15  uninjured.injuries.perc  23475 non-null  float64
dtypes: float64(4), int64(5), object(7)
memory usage: 3.2+ MB

In [42]:
df_subset2.isna().sum()

event.date                   0
country                      0
aircraft.damage              0
make                         0
model                        0
total.serious.injuries       0
engine.type                  0
total.fatal.injuries         0
total.minor.injuries         0
total.uninjured              0
weather.condition            0
state                        0
fatal.injuries.perc        899
serious.injuries.perc      899
minor.injuries.perc        899
uninjured.injuries.perc    899
dtype: int64

# Cleaning the 'Make' series/column

In [70]:
make_series = df_subset2['make']
make_series = make_series.astype(str)
make_series = make_series.str.lower()
make_series.value_counts().head(50)

cessna                            8431
piper                             4695
beech                             1683
boeing                            1304
mooney                             416
bellanca                           281
grumman                            249
airbus                             243
maule                              232
aeronca                            227
air tractor                        224
cirrus design corp                 220
air tractor inc                    219
champion                           169
luscombe                           163
embraer                            153
stinson                            145
cirrus                             137
north american                     118
mcdonnell douglas                  112
taylorcraft                        110
aero commander                     106
dehavilland                         95
de havilland                        87
aviat aircraft inc                  76
socata                              75
diamond aircraft ind inc            74
aviat                               70
ercoupe                             66
bombardier inc                      65
raytheon aircraft company           62
rockwell international              61
grumman acft eng cor-schweizer      58
rockwell                            57
ayres                               56
douglas                             52
american champion aircraft          52
bombardier                          50
swearingen                          50
diamond                             49
grumman american avn. corp.         49
flight design gmbh                  49
learjet                             46
waco                                44
airbus industrie                    42
ayres corporation                   41
fairchild                           39
grumman american                    37
lake                                36
mooney aircraft corp.               34
Name: make, dtype: int64

In [ ]:
make_series.lower()

In [ ]:
df_subset2.to_csv('../Data/subset2.csv')

# Exploratory Visuals: Scatter Plots

In [ ]:
# columns haven't been cleaned yet

import matplotlib.pyplot as plt

def graph(independent, dependent):
    fig, ax = plt.subplots()
    ax.bar(independent, dependent)
    ax.set_xlabel(independent)
    ax.set_ylabel(dependent)

graph(df_subset['aircraft.category'], df_subset['total.fatal.injuries'])